@using Presentation.Extensions
@model SMS_Solution.ViewModels.ProdutoViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Produtos</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaProduto", "Produto")">Produtos</a>
            </li>
            <li class="active">
                <strong>Produto - Inclusão</strong>
            </li>
        </ol>
        <br />
    </div>

    @*TABS - PRINCIPAL*@
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Produto - Inclusão</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Configuração 1</a>
                            </li>
                            <li>
                                <a href="#">Configuração 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="tabs-container">
                        @using (Html.BeginForm("IncluirProduto", "Produto", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                        {
                            <div class="form-group">
                                <button style="margin-left: 15px;" class="btnSubmit btn btn-sm btn-success" id="basictoast" type="button">Confirma inclusão de Produto</button>
                                @Html.ButtonLinkIndex(text: "Cancelar", action: "VoltarBaseProduto", controller: "Produto")
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Dados Gerais</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2">Estoque</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-3">Informações</a></li>
                                @*<li id="foodTab" class=""><a data-toggle="tab" href="#tab-4">Food Service</a></li>*@
                                <li class=""><a data-toggle="tab" href="#tab-5">Informações Tributárias</a></li>
                                <li id="expTab" class=""><a data-toggle="tab" href="#tab-6">Expedição</a></li>
                                @*<li id="ecomTab" class=""><a data-toggle="tab" href="#tab-7">E-Commerce</a></li>*@
                                <li class=""><a data-toggle="tab" href="#tab-8">Preços e Custos</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-9">Imagens</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-10">Observações</a></li>
                            </ul>
                            <div class="tab-content">

                                @*Dados Gerais*@
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    @Html.HiddenFor(m => m.PROD_CD_ID)
                                                    @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                    @Html.HiddenFor(m => m.PROD_DT_CADASTRO)
                                                    @Html.HiddenFor(m => m.PROD_IN_ATIVO)
                                                    @Html.HiddenFor(m => m.FILI_CD_ID)
                                                    @Html.HiddenFor(m => m.PROD_AQ_FOTO)
                                                    @Html.HiddenFor(m => m.PROD_IN_COMPOSTO)
                                                    Categoria*
                                                    @Html.DropDownListFor(m => m.CAPR_CD_ID, (SelectList)ViewBag.Tipos, "Selecionar", new { @class = "form-control", autofocus = true, onchange = "FiltrarSubCategoriaProduto($(this).val())", id = "catProd" })
                                                    @Html.ValidationMessageFor(m => m.CAPR_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Subcategoria
                                                    @Html.DropDownListFor(m => m.SCPR_CD_ID, (SelectList)ViewBag.Subs, "Selecionar", new { @class = "form-control", autofocus = true, onchange = "FiltrarCategoriaProduto($(this).val())", id = "subCatProd" })
                                                    @Html.ValidationMessageFor(m => m.SCPR_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Tipo de Produto*
                                                    @Html.DropDownListFor(m => m.PROD_IN_TIPO_PRODUTO, (SelectList)ViewBag.TiposProduto, "Selecionar", new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_IN_TIPO_PRODUTO, "", new { @style = "color:red" })
                                                </div>
                                                @*<div class="col-lg-2 col-md-2 col-xs-12">
                                                    Produto Composto?
                                                    <br />
                                                    @Html.CheckBoxFor(m => m.Composto, new { @class = "checkbox i-checks" })
                                                    @Html.ValidationMessageFor(m => m.Composto, "", new { @style = "color:red" })
                                                </div>*@
                                            </div>

                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Código
                                                    @Html.TextBoxFor(m => m.PROD_CD_CODIGO, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_CD_CODIGO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Código de Barras (Número)
                                                    @Html.TextBoxFor(m => m.PROD_NR_BARCODE, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NR_BARCODE, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Unidade
                                                    @Html.DropDownListFor(m => m.UNID_CD_ID, (SelectList)ViewBag.Unidades, "Selecionar", new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.UNID_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-xs-12">
                                                    Nome*
                                                    @Html.TextBoxFor(m => m.PROD_NM_NOME, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NM_NOME, "", new { @style = "color:red" })
                                                </div>
                                            </div>

                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Descrição
                                                    @Html.TextAreaFor(m => m.PROD_DS_DESCRICAO, new { @class = "form-control", style = "width: 100%; height: 100px;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_DS_DESCRICAO, "", new { @style = "color:red" })
                                                </div>
                                            </div>

                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Informações do Produto
                                                    @Html.TextAreaFor(m => m.PROD_DS_INFORMACOES, new { @class = "form-control", style = "width: 100%; height: 200px;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_DS_INFORMACOES, "", new { @style = "color:red" })
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                @*Estoque*@
                                <div id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    @Html.HiddenFor(m => m.PROD_QN_QUANTIDADE_INICIAL)
                                                    Estoque Máximo
                                                    @Html.TextBoxFor(m => m.PROD_QN_QUANTIDADE_MAXIMA, new { @class = "form-control touchspin2", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_QN_QUANTIDADE_MAXIMA, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Estoque Mínimo
                                                    @Html.TextBoxFor(m => m.PROD_QN_QUANTIDADE_MINIMA, new { @class = "form-control touchspin2", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_QN_QUANTIDADE_MINIMA, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Reserva de Estoque
                                                    @Html.TextBoxFor(m => m.PROD_QN_RESERVA_ESTOQUE, new { @class = "form-control touchspin2", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_QN_RESERVA_ESTOQUE, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Aviso de Limite Mínimo
                                                    <br />
                                                    @Html.CheckBoxFor(m => m.AvisaMinima, new { @class = "checkbox i-checks", @id = "AvisaMinima" })
                                                    @Html.ValidationMessageFor(m => m.AvisaMinima, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Informações*@
                                <div id="tab-3" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Marca
                                                    @Html.TextBoxFor(m => m.PROD_NM_MARCA, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NM_MARCA, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Modelo
                                                    @Html.TextBoxFor(m => m.PROD_NM_MODELO, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NM_MODELO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Fabricante
                                                    @Html.TextBoxFor(m => m.PROD_NM_FABRICANTE, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NM_FABRICANTE, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Referencia Fabricante
                                                    @Html.TextBoxFor(m => m.PROD_NM_REFERENCIA_FABRICANTE, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NM_REFERENCIA_FABRICANTE, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Referência
                                                    @Html.TextBoxFor(m => m.PROD_NR_REFERENCIA, new { @class = "form-control", @style = "color:green", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NR_REFERENCIA, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Garantia (dias)
                                                    @Html.TextBoxFor(m => m.Garantia, new { @class = "form-control touchspin2", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.Garantia, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Food Service*@
                                @*<div id="tab-4" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Balança PDV
                                                    <br />
                                                    @Html.CheckBoxFor(m => m.BalancaPDV, new { @class = "checkbox i-checks", @id = "BalancaPDV" })
                                                    @Html.ValidationMessageFor(m => m.BalancaPDV, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Balança Retaguarda
                                                    <br />
                                                    @Html.CheckBoxFor(m => m.BalancaRetaguarda, new { @class = "checkbox i-checks", @id = "BalancaRetaguarda" })
                                                    @Html.ValidationMessageFor(m => m.BalancaRetaguarda, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Validade
                                                    @Html.TextBoxFor(m => m.PROD_NR_VALIDADE, new { @class = "form-control touchspin2", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NR_VALIDADE, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Produto Tipo Combo
                                                    <br />
                                                    @Html.CheckBoxFor(m => m.ProdutoTipoCombo, new { @class = "checkbox i-checks", @id = "ProdutoTipoCombo" })
                                                    @Html.ValidationMessageFor(m => m.ProdutoTipoCombo, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Produto Opção Combo
                                                    <br />
                                                    @Html.CheckBoxFor(m => m.ProdutoOpcaoCombo, new { @class = "checkbox i-checks", @id = "ProdutoOpcaoCombo" })
                                                    @Html.ValidationMessageFor(m => m.ProdutoOpcaoCombo, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Divisão
                                                    @Html.TextBoxFor(m => m.PROD_IN_DIVISAO, new { @class = "form-control touchspin1", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_IN_DIVISAO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Cobrar pelo Maior
                                                    <br />
                                                    @Html.CheckBoxFor(m => m.CobrarMaior, new { @class = "checkbox i-checks", @id = "CobrarMaior" })
                                                    @Html.ValidationMessageFor(m => m.CobrarMaior, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Gerar Arquivo Texto
                                                    <br />
                                                    @Html.CheckBoxFor(m => m.ArquivoTexto, new { @class = "checkbox i-checks", @id = "ArquivoTexto" })
                                                    @Html.ValidationMessageFor(m => m.ArquivoTexto, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Informações Nutricionais
                                                    @Html.TextAreaFor(m => m.PROD_DS_INFORMACAO_NUTRICIONAL, new { @class = "form-control", style = "width: 1040px; height: 200px;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_DS_INFORMACAO_NUTRICIONAL, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                                @*Informações Tributarias*@
                                <div id="tab-5" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Origem
                                                    @Html.DropDownListFor(m => m.PROR_CD_ID, (SelectList)ViewBag.Origens, "Selecionar", new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROR_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    NCM
                                                    @Html.TextBoxFor(m => m.PROD_NR_NCM, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NR_NCM, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    GTIN/EAN
                                                    @Html.TextBoxFor(m => m.PROD_CD_GTIN_EAN, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_CD_GTIN_EAN, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    GTIN/EAN Trib.
                                                    @Html.TextBoxFor(m => m.PROD_NR_GTIN_EAN_TRIB, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NR_GTIN_EAN_TRIB, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    CEST
                                                    @Html.TextBoxFor(m => m.PROD_NR_CEST, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NR_CEST, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Unidade Tributável
                                                    @Html.TextBoxFor(m => m.PROD_NM_UNIDADE_TRIB, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NM_UNIDADE_TRIB, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Fator de Conversão
                                                    @Html.TextBoxFor(m => m.PROD_NR_FATOR_CONVERSAO, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NR_FATOR_CONVERSAO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Cod.Enquad. IPI
                                                    @Html.TextBoxFor(m => m.PROD_NR_ENQUADRE_IPI, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NR_ENQUADRE_IPI, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Valor IPI Fixo (R$)
                                                    @Html.TextBoxFor(m => m.PROD_VL_IPI_FIXO, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_VL_IPI_FIXO, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Expedição*@
                                <div id="tab-6" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Código GTIN/EAN
                                                    @Html.TextBoxFor(m => m.PROD_CD_GTIN_EAN, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_CD_GTIN_EAN, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Localização do Estoque
                                                    @Html.TextBoxFor(m => m.PROD_NM_LOCALIZACAO_ESTOQUE, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NM_LOCALIZACAO_ESTOQUE, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Peso Líquido (Kg)
                                                    @Html.TextBoxFor(m => m.PROD_QN_PESO_LIQUIDO, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_QN_PESO_LIQUIDO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Peso Bruto (Kg)
                                                    @Html.TextBoxFor(m => m.PROD_QN_PESO_BRUTO, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_QN_PESO_BRUTO, "", new { @style = "color:red" })
                                                </div>
                                            </div>

                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Tipo de Embalagem
                                                    @Html.DropDownListFor(m => m.PROD_IN_TIPO_EMBALAGEM, (SelectList)ViewBag.TiposEmbalagem, "Selecionar", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.PROD_IN_TIPO_EMBALAGEM, "", new { @style = "color:red" })
                                                </div>
                                                <div id="altura" class="col-lg-2 col-md-2 col-xs-12">
                                                    Altura (cm)
                                                    @Html.TextBoxFor(m => m.PROD_NR_ALTURA, new { @class = "form-control", autofocus = true, id = "altura" })
                                                    @Html.ValidationMessageFor(m => m.PROD_NR_ALTURA, "", new { @style = "color:red" })
                                                </div>
                                                <div id="largura" class="col-lg-2 col-md-2 col-xs-12">
                                                    Largura (cm)
                                                    @Html.TextBoxFor(m => m.PROD_NR_LARGURA, new { @class = "form-control", autofocus = true, id = "largura" })
                                                    @Html.ValidationMessageFor(m => m.PROD_NR_LARGURA, "", new { @style = "color:red" })
                                                </div>
                                                <div id="comprimento" class="col-lg-2 col-md-2 col-xs-12">
                                                    Comprimento (cm)
                                                    @Html.TextBoxFor(m => m.PROD_NR_COMPRIMENTO, new { @class = "form-control", autofocus = true, id = "comprimento" })
                                                    @Html.ValidationMessageFor(m => m.PROD_NR_COMPRIMENTO, "", new { @style = "color:red" })
                                                </div>
                                                <div id="diametro" class="col-lg-2 col-md-2 col-xs-12">
                                                    Diâmetro (cm)
                                                    @Html.TextBoxFor(m => m.PROD_NR_DIAMETRO, new { @class = "form-control", autofocus = true, id = "diametro" })
                                                    @Html.ValidationMessageFor(m => m.PROD_NR_DIAMETRO, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*E-Commerce*@
                                @*<div id="tab-7" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    SLUG
                                                    @Html.TextBoxFor(m => m.PROD_NM_SLUG, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NM_SLUG, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-xs-12">
                                                    Keywords (Separadas por ",")
                                                    @Html.TextBoxFor(m => m.PROD_NM_KEYWORDS, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NM_KEYWORDS, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-8 col-md-8 col-xs-12">
                                                    Título SEO
                                                    @Html.TextBoxFor(m => m.PROD_NM_TITULO_SEO, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NM_TITULO_SEO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    TAG
                                                    @Html.TextBoxFor(m => m.PROD_NR_TAG, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NR_TAG, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Unidade Tributável
                                                    @Html.TextBoxFor(m => m.PROD_NM_UNIDADE_TRIB, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_NM_UNIDADE_TRIB, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Descrição SEO
                                                    @Html.TextAreaFor(m => m.PROD_DS_DESCRICAO_CEO, new { @class = "form-control", style = "width: 100%; height: 200px;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_DS_DESCRICAO_CEO, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                                @*Precos e Custos*@
                                <div id="tab-8" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Preço de Custo
                                                    @Html.TextBoxFor(m => m.PROD_VL_CUSTO, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_VL_CUSTO, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <hr />
                                            <h4>Incluir Novo Preço / Filial</h4>
                                            <br />
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Filial
                                                    @Html.DropDownListFor(m => m.FILI_CD_ID, (SelectList)ViewBag.Filiais, "Selecionar", new { @class = "form-control", autofocus = true, id = "filiCusto" })
                                                    @Html.ValidationMessageFor(m => m.FILI_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Custo
                                                    @Html.TextBoxFor(m => m.PRTP_VL_CUSTO, new { @class = "form-control", autofocus = true, id = "custo", onfocusout = "CalculaPreco()" })
                                                    @Html.ValidationMessageFor(m => m.PRTP_VL_CUSTO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Markup (%)
                                                    @Html.TextBoxFor(m => m.PROD_VL_MARKUP_PADRAO, new { @class = "form-control", autofocus = true, id = "markup", onfocusout = "CalculaPreco()" })
                                                    @Html.ValidationMessageFor(m => m.PROD_VL_MARKUP_PADRAO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Preço (R$)
                                                    @Html.TextBoxFor(m => m.PRTP_VL_PRECO, new { @class = "form-control", autofocus = true, id = "preco" })
                                                    @Html.ValidationMessageFor(m => m.PRTP_VL_PRECO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Preço Promoção (R$)
                                                    @Html.TextBoxFor(m => m.PRTP_VL_PRECO_PROMOCAO, new { @class = "form-control", autofocus = true, id = "precoPromo" })
                                                    @Html.ValidationMessageFor(m => m.PRTP_VL_PRECO_PROMOCAO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    <br />
                                                    <span class="btn btn-success btn-sm" onclick="incluiPrecoProduto($('select#filiCusto option:selected').val(), $('select#filiCusto option:selected').text(), $('#preco').val(), $('#precoPromo').val(), $('#markup').val(), $('#custo').val())">Incluir Preço</span>
                                                    @*<span class="btn btn-warning btn-sm" onclick="IncluirInsumo()">teste</span>*@
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="form-group" style="margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    <table id="precos" style="width: 100%" class="table table-striped table-bordered table-hover dataTables-example">
                                                        <thead style="background-color:lightsteelblue">
                                                            <tr>
                                                                <th style="display: none">cd</th>
                                                                <th>Filial</th>
                                                                <th>Custo</th>
                                                                <th>Markup (%)</th>
                                                                <th>Preço</th>
                                                                <th>Preço Promoção</th>
                                                                <th class="td-one-action">Ações</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Imagens - Foto e Anexos*@
                                <div id="tab-9" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div style="margin-left: 15px;" class="col-lg-12 col-md-12 col-xs-12">
                                                <div class="form-group">
                                                    <h4>Logotipo/Foto</h4><input type="file" accept=".jpg, .png, .jpeg, .gif|images/*" name="file" id="imgProduto" class="btn btn-sm btn-warning" multiple />
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <hr />
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <h4>Anexos</h4><input class="btn btn-sm btn-warning" id="inputFile" type="file" multiple />
                                                <br />
                                                <div class="form-group">
                                                    <div class="ibox-content">
                                                        <br />
                                                        <table style="width: 100%;" class="table table-striped table-bordered table-hover dataTables-example" id="myFiles">
                                                            <thead style="background-color:lightsteelblue">
                                                                <tr>
                                                                    <td>Nome</td>
                                                                    <td>Tipo</td>
                                                                    <td>Ações</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Observações*@
                                <div id="tab-10" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Observações
                                                    @Html.TextAreaFor(m => m.PROD_TX_OBSERVACOES, new { @class = "form-control", style = "width: 100%; height: 400px;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PROD_TX_OBSERVACOES, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <br />
                                    @Html.ButtonActionSubmit(text: "BtnSubmit", htmlAttributes: new { id = "submit", style = "display: none;" })
                                    <button style="margin-left: 15px;" class="btnSubmit btn btn-sm btn-success" id="basictoast" type="button">Confirma inclusão de Produto</button>
                                    @Html.ButtonLinkIndex(text: "Cancelar", action: "VoltarBaseProduto", controller: "Produto")
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>

    @*<script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Excel' },
                    { extend: 'pdf', title: 'PDF' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });
    </script>*@

    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#cep").mask("99999-999");
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('body').addClass('light-navbar');

            $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });

        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>

    <script type="text/javascript">
        $(".touchspin1").TouchSpin({
            min: 1,
            max: 5,
            step: 1,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>

    <script type="text/javascript">
        $(".touchspin2").TouchSpin({
            min: 0,
            max: 1000000000,
            step: 1,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#PROD_IN_TIPO_EMBALAGEM').change(function () {
                var ddlValue = $(this).val();

                if (ddlValue == "1") {
                    $('#largura').show();
                    $('#comprimento').show();
                    $('#altura').hide();
                    $('#diametro').hide();
                }
                else if (ddlValue == "2") {
                    $('#largura').show();
                    $('#comprimento').show();
                    $('#altura').show();
                    $('#diametro').hide();
                }
                else if (ddlValue == "3") {
                    $('#largura').hide();
                    $('#comprimento').show();
                    $('#altura').hide();
                    $('#diametro').show();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var ddlValue = $('#PROD_IN_TIPO_EMBALAGEM').val();

            if (ddlValue == "1") {
                $('#largura').show();
                $('#comprimento').show();
                $('#altura').hide();
                $('#diametro').hide();
            }
            else if (ddlValue == "2") {
                $('#largura').hide();
                $('#comprimento').show();
                $('#altura').show();
                $('#diametro').hide();
            }
            else if (ddlValue == "3") {
                $('#largura').hide();
                $('#comprimento').show();
                $('#altura').hide();
                $('#diametro').show();
            }
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Inclusão em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>

    <script>
        function FiltrarSubCategoriaProduto(CAPR_CD_ID) {
            var data = {
                id: CAPR_CD_ID
            }

            var objSubCatProduto = $('select#subCatProd');

            // Requisição para o controller
            $.ajax({
                url: '../Produto/FiltrarSubCategoriaProduto'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    // Remove todos os itens da lista e adiciona o placeholder
                    objSubCatProduto.children('option').remove();
                    objSubCatProduto.append('<option>Selecionar</option>');

                    // Loop para adicionar Itens específicos à categoria
                    r.forEach(function (e) {
                        objSubCatProduto.append('<option value="' + e.SCPR_CD_ID + '">' + e.SCPR_NM_NOME + '</option>');
                    });

                    //console.log(r);
                }
            });

            $.ajax({
                url: '../Produto/VerificaFlags'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    if (r.FOOD == 1) {
                        $('#foodTab').show();
                    }
                    else {
                        $('#foodTab').hide();
                    }

                    if (r.EXP == 1) {
                        $('#expTab').show();
                    }
                    else {
                        $('#expTab').hide();
                    }

                    if (r.ECOM == 1) {
                        $('#ecomTab').show();
                    }
                    else {
                        $('#ecomTab').hide();
                    }
                }
            });
        }

        function FiltrarCategoriaProduto(SCPR_CD_ID) {
            var data = {
                id: SCPR_CD_ID
            }

            var objCatProduto = $('select#catProd');

            // Requisição para o controller
            $.ajax({
                url: '../Produto/FiltrarCategoriaProduto'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    // Remove todos os itens da lista e adiciona o placeholder
                    objCatProduto.children('option').remove();
                    objCatProduto.append('<option>Selecionar</option>');

                    // Loop para adicionar Itens específicos à categoria
                    r.forEach(function (e) {
                        if (r.length > 1) {
                            objCatProduto.append('<option value="' + e.CAPR_CD_ID + '">' + e.CAPR_NM_NOME + '</option>');
                        } else {
                            objCatProduto.append('<option selected="selected" value="' + e.CAPR_CD_ID + '">' + e.CAPR_NM_NOME + '</option>');
                        }

                    });

                    //console.log(r);
                }
            });
        }
    </script>

    <script>
        function incluiPrecoProduto(cdFilial, nmFilial, preco, precoPromo, markup, custo) {
            var data = {
                "FILI_CD_ID": cdFilial
                , "PRTP_VL_PRECO": preco
                , "PRTP_VL_PRECO_PROMOCAO": precoPromo
                , "PRTP_NR_MARKUP": markup
                , "PRTP_VL_CUSTO": custo
            }

            $('#filiCusto option:selected').prop('disabled', true);
            $('#filiCusto option:selected').css('background', 'lightgray');

            $('table#precos td.dataTables_empty').closest('tr').remove();

            $('table#precos tbody').append('<tr>'
                + '<td style="display: none">' + cdFilial + '<input type="hidden" name="rowCdFili" id="rowCdFili' + cdFilial + '" value="' + cdFilial + '"></td>'
                + '<td>' + nmFilial + '<input type="hidden" name="rowNmFili" id="rowNmFili' + cdFilial + '" value="' + nmFilial + '"></td>'
                + '<td>' + custo + '<input type="hidden" name="rowCusto" id ="rowCusto"' + cdFilial + '" value="' + custo + '"></td>'
                + '<td>' + markup + '<input type="hidden" name="rowMarkup" id ="rowMarkup"' + cdFilial + '" value="' + markup + '"></td>'
                + '<td>' + preco + '<input type="hidden" name="rowPreco" id="rowPreco' + cdFilial + '" value="' + preco + '"></td>'
                + '<td>' + precoPromo + '<input type="hidden" name="rowPrecoPromo" id="rowPrecoPromo' + cdFilial + '" value="' + precoPromo + '"></td>'
                + '<td><span style="color: #337ab7; cursor: pointer;" class="fa fa-trash-o" onclick="apagaRow($(this), ' + cdFilial + ')"></span></td>'
            );

            $('select#filiCusto').val($('select#fili option:first').val());
            $('#custo').val('');
            $('#markup').val('');
            $('#preco').val('');
            $('#precoPromo').val('');

            $.ajax({
                url: '../Produto/MontaListaCusto'
                , data: data
                , type: 'POST'
            });
        }

        function apagaRow(td, cdFilial) {
            var data = {
                "FILI_CD_ID": cdFilial
            }

            td.closest('tr').remove();

            var fili = $('#filiCusto option[value="' + cdFilial + '"]');
            fili.prop('disabled', false);
            fili.css('background', '');

            if ($('table#precos tr').length == 1) {
                $('table#precos tbody').append('<tr class="odd"><td valign="top" colspan="3" class="dataTables_empty">Nenhuma linha recuperada</td></tr>');
            }

            $.ajax({
                url: '../Produto/RemovePrecoTabela' //'../Compra/UploadFileToSession'
                , data: data
                , type: 'POST'
            });
        }
    </script>

    <script>
        SendFilesV2('imgProduto', 'Produto', 'UploadFileToSession');
    </script>

    <script>
        function CalculaPreco() {
            var custo = $('#custo').val().replace(',', '.');
            var markup = $('#markup').val().replace(',', '.');

            if (custo != "" && markup != "") {
                markup = (parseFloat(custo) / 100) * markup;
                $('#preco').val((parseFloat(custo) + parseFloat(markup)).toFixed(2).replace('.', ','));
            }
        }
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
