@using Presentation.Extensions
@model SMS_Solution.ViewModels.PedidoCompraViewModel
@{ Layout = "~/Views/Shared/_Layout_Admin.cshtml"; }
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Pedidos de Compra</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaPedidoCompra", "Compra")">Pedidos de Compra</a>
            </li>
            <li class="active">
                <strong>Pedidos de Compra - Aprovação</strong>
            </li>
        </ol>
        <br />
    </div>

    @*INDICADORES*@
    <div class="row">
        <div class="col-lg-2">
            <div class="widget style1 lazur-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-thumbs-o-up fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h3 class="font-normal">@Model.PECO_DT_DATA</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget style1 lazur-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-thumbs-o-up fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        @if (Model.PECO_IN_STATUS == 1)
                        {
            <h3 class="font-normal">Para Cotação</h3> }
                        else if (Model.PECO_IN_STATUS == 2)
                        {
            <h3 class="font-normal">Em Cotação</h3> }
                        else if (Model.PECO_IN_STATUS == 3)
                        {
            <h3 class="font-normal">Para Aprovação</h3> }
                        else if (Model.PECO_IN_STATUS == 4)
                        {
            <h3 class="font-normal">Aprovado</h3> }
                        else if (Model.PECO_IN_STATUS == 5)
                        {
            <h3 class="font-normal">Para Receber</h3> }
                        else if (Model.PECO_IN_STATUS == 6)
                        {
                            <h3 class="font-normal">Em Recebimento</h3>
                        }
                        else if (Model.PECO_IN_STATUS == 7)
                        {
                            <h3 class="font-normal">Recebido</h3>
                        }
                        else if (Model.PECO_IN_STATUS == 8)
                        {
            <h3 class="font-normal">Cancelado</h3>}
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*TABS - PRINCIPAL*@
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Pedidos de Compra - Aprovação</h5>
                </div>
                <div class="ibox-content">
                    @Html.AntiForgeryToken()
                    <div id="containerAlerta">
                        @if (!ViewData.ModelState.IsValid)
                        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>}
                    </div>
                    <div class="tabs-container">
                        @using (Html.BeginForm("AprovarPedidoCompra", "Compra", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                        {
                            <div class="form-group">
                                @Html.ButtonActionSubmit(text: "Aprovar Pedido de Compra?", htmlAttributes: new { style = "margin-left: 15px; margin-top: 5px;", id = "basictoast" })
                                @Html.ButtonLinkIndex(text: "Reprovar Pedido de Compra", action: "ReprovarPedidoCompra", controller: "Compra", routeValues: new { id = Model.PECO_CD_ID })
                                @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaPedidoCompra", controller: "Compra")
                            </div>

                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">Dados Gerais</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2">Itens do Pedido</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-3">Acompanhamento</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-4">Observações</a></li>
                        </ul>
                        <div class="tab-content">

                            @*Dados Gerais*@
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                @Html.HiddenFor(m => m.CECU_CD_ID)
                                                @Html.HiddenFor(m => m.FILI_CD_ID)
                                                @Html.HiddenFor(m => m.FOPA_CD_ID)
                                                @Html.HiddenFor(m => m.PECO_CD_ID)
                                                @Html.HiddenFor(m => m.PECO_DS_DESCRICAO)
                                                @Html.HiddenFor(m => m.PECO_DS_JUSTIFICATIVA)
                                                @Html.HiddenFor(m => m.PECO_DT_ALTERACAO)
                                                @Html.HiddenFor(m => m.PECO_DT_APROVACAO)
                                                @Html.HiddenFor(m => m.PECO_DT_CANCELAMENTO)
                                                @Html.HiddenFor(m => m.PECO_DT_DATA)
                                                @Html.HiddenFor(m => m.PECO_DT_FINAL)
                                                @Html.HiddenFor(m => m.PECO_DT_PREVISTA)
                                                @Html.HiddenFor(m => m.PECO_IN_ATIVO)
                                                @Html.HiddenFor(m => m.PECO_IN_STATUS)
                                                @Html.HiddenFor(m => m.PECO_NM_NOME)
                                                @Html.HiddenFor(m => m.PECO_NR_NOTA_FISCAL)
                                                @Html.HiddenFor(m => m.PECO_NR_NUMERO)
                                                @Html.HiddenFor(m => m.USUA_CD_ID)
                                                @Html.HiddenFor(m => m.FORN_CD_ID)
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Nome
                                                    @Html.TextBoxFor(m => m.PECO_NM_NOME, new { @class = "form-control", autofocus = true, @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Filial
                                                    @Html.TextBoxFor(m => m.FILIAL.FILI_NM_NOME, new { @class = "form-control", autofocus = true, @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Autor
                                                    @Html.TextBoxFor(m => m.USUARIO.USUA_NM_NOME, new { @class = "form-control", autofocus = true, @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Fornecedor
                                                    @Html.TextBoxFor(m => m.FORNECEDOR.FORN_NM_NOME, new { @class = "form-control", autofocus = true, @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Número
                                                    @Html.TextBoxFor(m => m.PECO_NR_NUMERO, new { @class = "form-control", autofocus = true, @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Data
                                                    @Html.TextBoxFor(m => m.PECO_DT_DATA, "{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true, @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Data Prevista
                                                    @Html.TextBoxFor(m => m.PECO_DT_PREVISTA, "{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true, @readonly = "readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Valor Total (R$)
                                                    @Html.TextBox(name: "Valor", value: (decimal)ViewBag.CustoTotal, htmlAttributes: new { @class = "form-control", autofocus = true, @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Descrição
                                                    @Html.TextAreaFor(m => m.PECO_DS_DESCRICAO, new { @class = "form-control", style = "width: 100%; height: 100px;", autofocus = true, @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Itens do pedido*@
                            <div id="tab-2" class="tab-pane">
                             <div class="panel-body">
                              <div class="row">
                               <hr />
                               <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                 <h4>Itens do Pedido</h4>
                                 <br />
                                 @if (Model.ITEM_PEDIDO_COMPRA != null) { if (Model.ITEM_PEDIDO_COMPRA.Count
                                 > 0) {
                                 <table
                                  class="table table-striped table-bordered table-hover dataTables-example"
                                 >
                                  <thead style="background-color:lightsteelblue">
                                   <tr>
                                    <th>Produto</th>
                                    <th>Modelo</th>
                                    <th>Marca</th>
                                    <th>Fabricante</th>
                                    <th>Unidade</th>
                                       <th>Fornecedor</th>
                                    <th>Quantidade</th>
                                    <th>Quantidade Revisada</th>
                                    <th>Custo (R$)</th>
                                    <th>Valor Total (R$)</th>
                                    @*<th class="td-one-action">Ações</th>*@
                                   </tr>
                                  </thead>
                                  <tbody>
                                   @foreach (var cond in (Model.ITEM_PEDIDO_COMPRA)) {
                                   <tr>
                                    @if (cond.PRODUTO != null) 
                                    {
                                        @Html.Hidden("idITPC", cond.ITPC_CD_ID) 
                                        @Html.Hidden("pecoIdITPC", cond.PECO_CD_ID) 
                                        @Html.Hidden("prodITPC", cond.PROD_CD_ID)
                                        @Html.Hidden("unidITPC", cond.UNID_CD_ID) 
                                        @Html.Hidden("qtdeITPC", cond.ITPC_QN_QUANTIDADE)
                                        @Html.Hidden("obsITPC", cond.ITPC_TX_OBSERVACOES)
                                        @Html.Hidden("ativoITPC", cond.ITPC_IN_ATIVO) 
                                        @Html.Hidden("dtCotITPC", cond.ITPC_DT_COTACAO) 
                                        @Html.Hidden("tipoITPC", cond.ITPC_IN_TIPO)
                                        @Html.Hidden("justITPC", cond.ITPC_DS_JUSTIFICATIVA)
                                        @Html.Hidden("qtdeRecITPC", cond.ITPC_NR_QUANTIDADE_RECEBIDA) 
                                        if (cond.PRODUTO == null) 
                                        {
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        } 
                                        else 
                                        {
                                            <td>@cond.PRODUTO.PROD_NM_NOME</td>
                                            <td>@cond.PRODUTO.PROD_NM_MODELO</td>
                                            <td>@cond.PRODUTO.PROD_NM_MARCA</td>
                                            <td>@cond.PRODUTO.PROD_NM_FABRICANTE</td>
                                        } 
                                        if (cond.UNIDADE != null) 
                                        {
                                        <td>@cond.UNIDADE.UNID_NM_NOME</td>
                                    } else {
                                    <td>-</td>
                                        }
                                                                                                                                                                        if (Model.FORNECEDOR != null)
                                {
                                    <td>@Model.FORNECEDOR.FORN_NM_NOME</td>
                                }
                                else
                                {
                                    <td>-</td>
                                }
                                    <td>@cond.ITPC_QN_QUANTIDADE</td>
                                    <td>@cond.ITPC_NR_QUANTIDADE_REVISADA</td>
                                    <td>@cond.ITPC_VL_PRECO_SELECIONADO</td>
                                    if (cond.ITPC_VL_PRECO_SELECIONADO != null) {
                                    <td>
                                     @CrossCutting.Formatters.DecimalFormatter(cond.ITPC_NR_QUANTIDADE_REVISADA.Value
                                     * cond.ITPC_VL_PRECO_SELECIONADO.Value)
                                    </td>
                                    } else {
                                    <td>-</td>
                                    }
                                    @*<td class="td-one-action">
                                     <span
                                      style="color: #337ab7; cursor: pointer;"
                                      title="Confirmar"
                                      class="fa fa-check fa-lg"
                                      onclick="ConfirmaEdicaoITPC($(this).parent().parent())"
                                     ></span>
                                     @Html.TableLinkDetails(cond.ITPC_CD_ID, "EditarItemPedidoCompra",
                                     "fa-edit", "Editar/Consultar")
                                    </td>*@
                                    }
                                   </tr>
                                   }
                                  </tbody>
                                 </table>
                                 } }
                                </div>
                               </div>
                              </div>
                             </div>
                            </div>


                            @*Acompanhamentos*@
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body">
                                    <hr />
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h4>Acompanhamentos:</h4>
                                            @if (Model.PEDIDO_COMPRA_ACOMPANHAMENTO != null)
                                            {
                                                if (Model.PEDIDO_COMPRA_ACOMPANHAMENTO.Count > 0)
                                                {
                                                    foreach (var item in (Model.PEDIDO_COMPRA_ACOMPANHAMENTO).OrderByDescending(a => a.PCAT_DT_ACOMPANHAMENTO))
                                                    {
                            <div class="social-feed-box">
                                <div class="social-avatar">
                                    <a href="" class="pull-left">
                                        <img src="@Url.Content(item.USUARIO.USUA_AQ_FOTO)" style="width: auto; height: auto; max-height: 94px; max-width: 90px;">
                                    </a>
                                    <div class="media-body">
                                        <a href="#">
                                            @item.USUARIO.USUA_NM_NOME
                                        </a>
                                        <small class="text-muted">@item.PCAT_DT_ACOMPANHAMENTO.Value.ToLongDateString()</small>
                                    </div>
                                </div>
                                <div class="social-body">
                                    <p>
                                        @item.PCAT_DS_ACOMPANHAMENTO
                                    </p>
                                </div>
                            </div>}
                    }
                }
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        @Html.ButtonLinkIndex(text: "Incluir Acompanhamento", action: "IncluirAcompanhamento", controller: "Compra", routeValues: new { id = Model.PECO_CD_ID })
                                    </div>
                                </div>
                            </div>

                            @*Observações*@
                            <div id="tab-4" class="tab-pane">
                                <div class="panel-body">
                                    @using (Html.BeginForm("AprovarPedidoCompra", "Compra", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                                    {
                        <div class="row">
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    Observações
                                    @Html.TextAreaFor(m => m.PECO_TX_OBSERVACAO, new { @class = "form-control", style = "width: 100%; height: 400px;", autofocus = true, @readonly = "readonly" })
                                </div>
                            </div>
                        </div>}
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.ButtonActionSubmit(text: "Aprovar Pedido de Compra?", htmlAttributes: new { style = "margin-left: 15px; margin-top: 5px;", id = "basictoast" })
                                @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaPedidoCompra", controller: "Compra")
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sweetAlert")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>

    @*<script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 5,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'Excel' },
                    { extend: 'pdf', title: 'PDF' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });
    </script>*@

    <script>
        function ConfirmaEdicaoITPC(tr) {
            var data = {
                "ITPC_CD_ID": $(tr).find("input#idITPC").val()
                , "PECO_CD_ID": $(tr).find("input#pecoIdITPC").val()
                , "PROD_CD_ID": $(tr).find("input#prodITPC").val()
                , "MAPR_CD_ID": $(tr).find("input#maprITPC").val()
                , "UNID_CD_ID": $(tr).find("input#unidITPC").val()
                , "ITPC_QN_QUANTIDADE": $(tr).find("input#qtdeITPC").val()
                , "ITPC_VL_PRECO_SELECIONADO": $(tr).find("input#precoSelITPC").val()
                , "ITPC_NR_QUANTIDADE_REVISADA": $(tr).find("input#qtdeRevITPC").val()
                , "ITPC_TX_OBSERVACOES": $(tr).find("input#obsITPC").val()
                , "ITPC_IN_ATIVO": $(tr).find("input#ativoITPC").val()
                , "ITPC_DT_COTACAO": $(tr).find("input#dtCotITPC").val()
                , "ITPC_IN_TIPO": $(tr).find("input#tipoITPC").val()
                , "ITPC_DS_JUSTIFICATIVA": $(tr).find("input#justITPC").val()
                , "ITPC_NR_QUANTIDADE_RECEBIDA": $(tr).find("input#qtdeRecITPC").val()
            }

            $.ajax({
                url: '../EditarItemInline'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    if (r.success != undefined) {
                        $('#containerAlerta').html('<div class="alert alert-success">'
                            + '<button type="button" class="close" data-dismiss="alert">Fechar</button>'
                            + '<p>' + r.success + '</p>'
                            + '</div>');

                        if (r.vlrTotal != undefined) {
                            $(tr).find('input#vlrTotal').html(r.vlrTotal);
                        }
                    } else if (r.error != undefined) {
                        $('#containerAlerta').html('<div class="alert alert-success">'
                            + '<button type="button" class="close" data-dismiss="alert">Fechar</button>'
                            + '<p>' + r.error + '</p>'
                            + '</div>');
                    }
                }
            });
        }
    </script>

    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#cep").mask("99999-999");
        });
    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('body').addClass('light-navbar');

            $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });

        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>

    <script type="text/javascript">
        $(".touchspin1").TouchSpin({
            min: 1,
            max: 5,
            step: 1,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>
    <script type="text/javascript">
        $(".touchspin2").TouchSpin({
            min: 0,
            max: 1000000000,
            step: 1,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#PROD_IN_TIPO_EMBALAGEM').change(function () {
                var ddlValue = $(this).val();

                if (ddlValue == "1") {
                    $('#largura').show();
                    $('#comprimento').show();
                    $('#altura').hide();
                    $('#diametro').hide();
                }
                else if (ddlValue == "2") {
                    $('#largura').hide();
                    $('#comprimento').show();
                    $('#altura').show();
                    $('#diametro').hide();
                }
                else if (ddlValue == "3") {
                    $('#largura').hide();
                    $('#comprimento').show();
                    $('#altura').hide();
                    $('#diametro').show();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var ddlValue = $('#PROD_IN_TIPO_EMBALAGEM').val();

            if (ddlValue == "1") {
                $('#largura').show();
                $('#comprimento').show();
                $('#altura').hide();
                $('#diametro').hide();
            }
            else if (ddlValue == "2") {
                $('#largura').hide();
                $('#comprimento').show();
                $('#altura').show();
                $('#diametro').hide();
            }
            else if (ddlValue == "3") {
                $('#largura').hide();
                $('#comprimento').show();
                $('#altura').hide();
                $('#diametro').show();
            }
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.demo3').click(function () {
                swal({
                    title: "Confirma a duplicação do produto?",
                    text: "A tela de edição deste produto será aberta logo após a confirmação",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Confirmar",
                    cancelButtonText: "Cancelar",
                    closeOnConfirm: false
                }, function () {


                    swal("Duplicado!", "Uma cópia deste produto foi criada", "success");
                });
            });

            $('.demo2').click(function () {
                swal({
                    title: "Confirma a duplicação do produto?",
                    text: "A tela de edição deste produto será aberta logo após a confirmação",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Confirmar",
                    cancelButtonText: "Cancelar",
                    closeOnConfirm: false
                }, function () {
                    swal("Duplicado!", "Uma cópia deste produto foi criada", "success");
                });
            });

        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#CAPR_CD_ID").change(function () {

                var cat = $("#CAPR_CD_ID").val();
                $("#SCPR_CD_ID").empty();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetSubcategorias", "Cadastros")',
                    data: { cat: cat },
                    dataType: 'json',
                    success: function (data) {
                        $.each(data, function (index, value) {
                            $("#SCPR_CD_ID").append('<option value="'
                                                 + value.SCPR_CD_ID + '">'
                                                 + value.SCPR_NM_NOME + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Falha na carga da lista.' + ex);
                    }
                });
                return false;
            })
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

        $('#CAPR_CD_ID').change(function () {
            var cat = $("#CAPR_CD_ID").val();
            $("#SCPR_CD_ID").empty();

            $.ajax({
                url: '@Url.Action("GetSubcategorias", "Cadastros")',
                type: 'POST',
                data: { cat: cat },
                datatype: 'json',
                success: function (data) {
                    var options = '';
                    var category = $('#SCPR_CD_ID');
                    $.each(data, function () {
                        options += '<option value="' + this.SCPR_CD_ID + '">' + this.SCPR_NM_NOME + '</option>';
                    });

                    $('#SCPR_CD_ID').append(options);
                },
            });
        });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Aprovação em andamento')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>
    @if (ViewBag.Message != null)
    {
<script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
</script>}
}
