@using Presentation.Extensions
@model SMS_Solution.ViewModels.PedidoCompraViewModel
@{ Layout = "~/Views/Shared/_Layout_Admin.cshtml"; }

<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Pedidos de Compra</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaPedidoCompra", "Compra")">Pedidos de Compra</a>
            </li>
            <li class="active">
                <strong>Pedidos de Compra - Inclusão</strong>
            </li>
        </ol>
        <br />
    </div>

    @*TABS - PRINCIPAL*@
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Pedidos de Compra - Inclusão</h5>
                </div>
                <div class="ibox-content">
                    @Html.AntiForgeryToken()
                    <div id="containerAlert">
                        @if (!ViewData.ModelState.IsValid)
                        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>}
                    </div>
                    <div class="tabs-container">
                        @using (Html.BeginForm("IncluirPedidoCompra", "Compra", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                        {
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1">Dados Gerais</a></li>
                @*<li class=""><a data-toggle="tab" href="#tab-2">Itens do Pedido</a></li>*@
                <li class=""><a data-toggle="tab" href="#tab-3">Imagens - Foto e Anexos</a></li>
                <li class=""><a data-toggle="tab" href="#tab-4">Observações</a></li>
            </ul>
                            <div class="tab-content">

                                @*Dados Gerais*@
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <br />
                                        </div>
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                    @Html.HiddenFor(m => m.PECO_IN_ATIVO)
                                                    @Html.HiddenFor(m => m.PECO_IN_STATUS)
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        Filial*
                                                        @Html.DropDownListFor(m => m.FILI_CD_ID, (SelectList)ViewBag.Filiais, "Selecionar", new { @class = "form-control", id = "fili" })
                                                        @Html.ValidationMessageFor(m => m.FILI_CD_ID, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        Autor*
                                                        @Html.DropDownListFor(m => m.USUA_CD_ID, (SelectList)ViewBag.Usuarios, "Selecionar", new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.USUA_CD_ID, "", new { @style = "color:red" })
                                                    </div>
                                                    <!--<div class="col-lg-4 col-md-4 col-xs-12">
                                                        Fornecedor*
                                                        <select name="FORN_CD_ID" id="lstForn" class="form-control" data-val="true" style="display: none;">
                                                            <option value="">Selecionar</option>
                                                        </select>-->
                                                        @*@Html.DropDownListFor(m => m.FORN_CD_ID, (SelectList)ViewBag.Fornecedores, "Selecionar", new { @class = "form-control", @id = "forn" })
                                                            @Html.ValidationMessageFor(m => m.FORN_CD_ID, "", new { @style = "color:red" })*@
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        Nome*
                                                        @Html.TextBoxFor(m => m.PECO_NM_NOME, new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.PECO_NM_NOME, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Data*
                                                        @Html.TextBoxFor(m => m.PECO_DT_DATA, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, id = "data" })
                                                        @Html.ValidationMessageFor(m => m.PECO_DT_DATA, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Data Prevista*
                                                        @Html.TextBoxFor(m => m.PECO_DT_PREVISTA, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, id = "data1" })
                                                        @Html.ValidationMessageFor(m => m.PECO_DT_PREVISTA, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Descrição
                                                    @Html.TextAreaFor(m => m.PECO_DS_DESCRICAO, new { @class = "form-control", style = "width: 100%; height: 100px;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PECO_DS_DESCRICAO, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Itens do Pedido*@
                                @*<div id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-5 col-md-5 col-xs-12">
                                                    @Html.HiddenFor(m => m.PECO_CD_ID)
                                                    Produto*
                                                    @Html.DropDownList("Produto", (SelectList)ViewBag.Produtos, "Selecionar", new { @class = "form-control", @id = "prod" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Quantidade*
                                                    <input type="number" step="0.01" class="form-control" id="qtde" />
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Observação
                                                    <textarea class="form-control" style="width: 100%; height: 100px;" id="obs"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    <span class="btn btn-success btn-sm" onclick="IncluirItemPedidoTabela()">Incluir Item do Pedido</span>
                                                </div>
                                            </div>

                                            <div class="form-group" style="margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    <table id="itemPedido" style="width: 100%" class="table table-striped table-bordered table-hover dataTables-example">
                                                        <thead>
                                                            <tr>
                                                                <td>Tipo de Compra</td>
                                                                <td>Produto</td>
                                                                <td>Unidade</td>
                                                                <td>Quantidade</td>
                                                                <td>Custo</td>
                                                                <td>Markup</td>
                                                                <td>Observação</td>
                                                                <td>Ações</td>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                                @*Imagens - Foto e Anexos*@
                                <div id="tab-3" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <h4>Anexos do Pedido</h4><input class="btn btn-sm btn-warning" id="inputFile" type="file" multiple />
                                                <br />
                                                <div class="form-group">
                                                    <div class="ibox-content">
                                                        <br />
                                                        <table style="width: 100%;" class="table table-striped table-bordered table-hover dataTables-example" id="myFiles">
                                                            <thead style="background-color:lightsteelblue">
                                                                <tr>
                                                                    <td>Nome</td>
                                                                    <td>Tipo</td>
                                                                    <td>Ações</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Observações*@
                                <div id="tab-4" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Observações
                                                    @Html.TextAreaFor(m => m.PECO_TX_OBSERVACAO, new { @class = "form-control", style = "width: 100%; height: 400px;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PECO_TX_OBSERVACAO, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <br />
                                    @Html.ButtonActionSubmit(text: "BtnSubmit", htmlAttributes: new { id = "submit", style = "display: none;" })
                                    <button class="btnSubmit btn btn-sm btn-success" id="basictoast" type="button">Confirma inclusão e iniciar inclusão de itens</button>
                                    @Html.ButtonLinkIndex(text: "Cancelar", action: "VoltarBaseMontarTelaPedidoCompra", controller: "Compra")
                                </div>
                            </div>}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/toastrStyles")
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>

    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#cep").mask("99999-999");
            $('#data').mask("99/99/9999");
            $('#data1').mask("99/99/9999");
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('body').addClass('light-navbar');

            $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });

        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>

    <script type="text/javascript">
        $(".touchspin1").TouchSpin({
            min: 1,
            max: 5,
            step: 1,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>

    <script type="text/javascript">
        $(".touchspin2").TouchSpin({
            min: 0,
            max: 1000000000,
            step: 1,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#PROD_IN_TIPO_EMBALAGEM').change(function () {
                var ddlValue = $(this).val();

                if (ddlValue == "1") {
                    $('#largura').show();
                    $('#comprimento').show();
                    $('#altura').hide();
                    $('#diametro').hide();
                }
                else if (ddlValue == "2") {
                    $('#largura').hide();
                    $('#comprimento').show();
                    $('#altura').show();
                    $('#diametro').hide();
                }
                else if (ddlValue == "3") {
                    $('#largura').hide();
                    $('#comprimento').show();
                    $('#altura').hide();
                    $('#diametro').show();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var ddlValue = $('#PROD_IN_TIPO_EMBALAGEM').val();

            if (ddlValue == "1") {
                $('#largura').show();
                $('#comprimento').show();
                $('#altura').hide();
                $('#diametro').hide();
            }
            else if (ddlValue == "2") {
                $('#largura').hide();
                $('#comprimento').show();
                $('#altura').show();
                $('#diametro').hide();
            }
            else if (ddlValue == "3") {
                $('#largura').hide();
                $('#comprimento').show();
                $('#altura').hide();
                $('#diametro').show();
            }
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

        $('#CAPR_CD_ID').change(function () {
            var cat = $("#CAPR_CD_ID").val();
            $("#SCPR_CD_ID").empty();

            $.ajax({
                url: '@Url.Action("GetSubcategorias", "Cadastros")',
                type: 'POST',
                data: { cat: cat },
                datatype: 'json',
                success: function (data) {
                    var options = '';
                    var category = $('#SCPR_CD_ID');
                    $.each(data, function () {
                        options += '<option value="' + this.SCPR_CD_ID + '">' + this.SCPR_NM_NOME + '</option>';
                    });

                    $('#SCPR_CD_ID').append(options);
                },
            });
        });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Inclusão em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>

    <script>
        SendFilesV2(null, 'Compra', 'UploadFileToSession');
    </script>

    <script>
        function DesativaProduto() {
            //$('button.close').click();
            var optIns = $('#ins option:selected').val();

            if (optIns != "") {
                $('#prodContainer').css("display", "none");
                $("#prod").val($("#prod option:first").val());
                $('#tipo').val(2);
            } else {
                $('#prodContainer').css("display", "block");
                $("#ins").val($("#ins option:first").val());
                $('#tipo').val(1);
            }
        }

        function IncluirItemPedidoTabela() {
            if ($('#prod option:selected').val() != "") {
                $('#prod option:selected').css('display', 'none');
            }
            var custo = 0;
            var unidade = "";
            var markup = 0;

            if ($('#prod').val() != "") {
                if ($('#qtde').val() != "") {
                    $.ajax({
                        url: '../Compra/GetCustoProduto'
                        , type: 'POST'
                        , data: {
                            id: $('#prod option:selected').val()
                            , fili: $('#fili option:selected').val()
                        }
                        , async: false
                        , success: function (r) {
                            custo = r.custo;
                            unidade = r.unidade;
                            markup = r.markup;
                        }
                    });
                } else {
                    var alert = '<div class="alert alert-danger text-danger">'
                        + '<button type="button" class="close" data-dismiss="alert">Fechar</button>'
                        + '<ul>'
                        + '<li>Campo QUANTIDADE obrigatório</li>'
                        + '</ul>'
                        + '</div>';

                    $('#containerAlert').html(alert);
                }
            }

            if (isValidForm()) {
                $('button.close').click();
                $('table#itemPedido td.dataTables_empty').closest('tr').remove();

                var table = $('table#itemPedido tbody');

                console.log(custo);

                table.append(
                    '<tr>'
                    + '<td><input name="rowTipo" type="hidden" value="' + $('#tipo').val() + '" />' + $('#tipo option:selected').text() + '</td>'
                    + '<td><input name="rowProd" type="hidden" value="' + $('#prod option:selected').val() + '" />' + ($('#prod').val() == "" ? ' ' : $('#prod option:selected').text()) + '</td>'
                    + '<td>' + unidade + '</td>'
                    + '<td><input name="rowQtde" type="hidden" value="' + $('#qtde').val() + '" />' + $('#qtde').val() + '</td>'
                    + '<td>' + parseFloat(custo == null ? 0 : custo) + '</td>'
                    + '<td>' + parseFloat(markup == null ? 0 : markup) + '%</td>'
                    + '<td><input name="rowObs" type="hidden" value="' + $('#obs').val() + '" />' + $('#obs').val() + '</td>'
                    + '<td><span style="color: #337ab7; cursor: pointer;" class="fa fa-trash-o" onclick="apagaRow($(this))"></span></td>'
                    + '</tr>'
                );

                var data = {
                    "ITPC_IN_TIPO": $('#tipo').val()
                    , "PROD_CD_ID": $('#prod option:selected').val()
                    , "ITPC_QN_QUANTIDADE": $('#qtde').val()
                    , "ITPC_TX_OBSERVACOES": $('#obs').val()
                }

                $.ajax({
                    url: '../Compra/MontaListaItemPedido'
                    , data: data
                    , type: 'POST'
                });

                $("#prod").val($("#prod option:first").val());
                $("#und").val($("#und option:first").val());
                $('#qtde').val('');
                $('#obs').val('');
                $('#prod').attr("disabled", false);
            }
        }

        function apagaRow(td) {
            var tr = $(td.closest('tr'));
            var tipo = tr.find($('input[type=hidden][name=rowTipo]')).val();
            if (tipo == 1) {

                var data = {
                    "ITPC_IN_TIPO": tr.find($('input[type=hidden][name=rowTipo]')).val()
                    , "PROD_CD_ID": tr.find($('input[type=hidden][name=rowProd]')).val()
                }

                $.ajax({
                    url: '../Compra/RemoveItpcTabela' //'../Compra/UploadFileToSession'
                    , async: false
                    , data: data
                    , type: 'POST'
                    , error: function (data) {
                        buttonSubmit.prop('disabled', false);
                        console.log('ERROR!!');
                    }
                    , cache: false
                    , processData: false
                    , contentType: false
                });

                var prod = $('#prod option[value="' + tr.find($('input[type=hidden][name=rowProd]')).val() + '"]');
                prod.prop('disabled', false);
                prod.css('background', '');
            }

            td.closest('tr').remove();

            if ($('table#itemPedido tr').length == 1) {
                $('table#itemPedido tbody').append('<tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">Nenhuma linha recuperada</td></tr>');
            }
        }

        function isValidForm() {
            if ($('#tipo').val() == "1") {
                if ($("#tipo").val() != "" && $("#prod").val() != "" && $("#und").val() != "" && $('#qtde').val() != "") {
                    return true;
                } else {
                    return false;
                }
        }
    </script>

    @if (ViewBag.Message != null)
    {
<script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
</script>
}
}
