@using Presentation.Extensions
@using CrossCutting
@model SMS_Solution.ViewModels.UsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div style="z-index: 999;" class="dotContainer">
    <div style="top: 500px" class="dotWrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
    </div>
</div>

<div id="content" style="filter: blur(4px);" class="wraper container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="ibox-content text-center">
                        <h1>@Model.USUA_NM_NOME.Substring(0, Model.USUA_NM_NOME.IndexOf(" "))</h1>
                        <div class="m-b-sm">
                            <img alt="image" class="img-circle" src="@Url.Content(Model.USUA_AQ_FOTO)" style="width: auto; height: auto; max-height: 90px; max-width: 90px;">
                        </div>
                        <p class="font-bold">@((String)Session["NomeGreeting"])</p>

                        <div class="text-center">
                            @Html.ButtonLinkIndex(text: "Perfil", action: "MontarTelaPerfilUsuario", controller: "Usuario", buttonClass: "btn btn-xs btn-white")
                            @if (Model.PERFIL.PERF_SG_SIGLA == "ADM")
                            {
                                @Html.ButtonLinkIndex(text: "Dashboard", action: "CarregarAdmin", controller: "BaseAdmin", buttonClass: "btn btn-xs btn-primary")
                            }
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-right">Hoje</span>
                            <h5>Atividade do usuário</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Acessos</small>
                                    <h4>@Model.USUA_NR_ACESSOS</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">Falhas de Login</small>
                                    <h4>@Model.USUA_NR_FALHAS</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Transações</small>
                                    <h4>@((Int32)Session["Logs"])</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Último Acesso</small>
                                    <h4>@Model.USUA_DT_ACESSO.Value.ToShortDateString()</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">Última Alteração</small>
                                    @if (Model.USUA_DT_ALTERACAO == null)
                                    {
                                        <h4>Não há</h4>
                                    }
                                    else
                                    {
                                        <h4>@Model.USUA_DT_ALTERACAO.Value.ToShortDateString()</h4>
                                    }
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Última Falha</small>
                                    @if (Model.USUA_DT_ULTIMA_FALHA == null)
                                    {
                                        <h4>Não há</h4>
                                    }
                                    else
                                    {
                                        <h4>@Model.USUA_DT_ULTIMA_FALHA.Value.ToShortDateString()</h4>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-right">Hoje</span>
                            <h5>Painel de Tarefas e Compromissos</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Total de Tarefas</small>
                                    <h4>@((Int32)Session["Tarefas"])</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">Tarefas Abertas</small>
                                    <h4>@((Int32)Session["TarefasPendentes"])</h4>
                                </div>
                                <div class="col-xs-4">
                                    @Html.ButtonLinkIndex(text: "Tarefas", action: "MontarTelaTarefa", controller: "Tarefa")
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Agenda Hoje</small>
                                    <h4>@((Int32)Session["NumAgendasHoje"])</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Agenda</small>
                                    <h4>@((Int32)Session["NumAgendas"])</h4>
                                </div>
                                <div class="col-xs-4">
                                    @Html.ButtonLinkIndex(text: "Agenda", action: "MontarTelaAgenda", controller: "Agenda")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <br />
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Notificações</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content ibox-heading">
                            <h3><i class="fa fa-envelope-o"></i> Novas Notificações</h3>
                            <small><i class="fa fa-tim"></i> Você tem @((Int32)Session["NovasNotificacoes"]) novas notificações </small>
                        </div>
                        <div class="ibox-content">
                            @using (Html.BeginForm("CarregarBase", "BaseAdmnin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                <div class="feed-activity-list">
                                    @if (Model.NOTIFICACAO.Count > 0)
                                    {
                                        foreach (var cond in (Model.NOTIFICACAO).OrderByDescending(a => a.NOTI_DT_EMISSAO).Take(6))
                                        {
                                            if (cond.NOTI_DT_VALIDADE >= DateTime.Today)
                                            {
                                                <div class="feed-element">
                                                    <div>
                                                        @if (cond.NOTI_IN_NIVEL == 1)
                                                        {
                                                            <span class="label label-danger pull-left">Urgente</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-warning pull-left">Aviso</span>
                                                        }
                                                        &nbsp; &nbsp;
                                                        @if (cond.NOTI_IN_VISTA == 0)
                                                        {
                                                            <span class="label label-success pull-left">Em Aberto</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-primary pull-left">Lida</span>
                                                        }

                                                        <small class="pull-right text-navy">@CrossCutting.Formatters.DiffTimeFormatter(cond.NOTI_DT_EMISSAO.Value)</small>
                                                        <br />
                                                        <br />
                                                        <a href="@Url.Action("VerNotificacao", "Notificacao", new { id = cond.NOTI_CD_ID })" class="btn-link">
                                                            <h4>
                                                                <strong>@cond.NOTI_NM_TITULO</strong>
                                                            </h4>
                                                        </a>
                                                        <br />
                                                        @if (cond.NOTI_TX_TEXTO != null)
                                                        {
                                                            if (cond.NOTI_TX_TEXTO.Length > 200)
                                                            {
                                                                <div>@cond.NOTI_TX_TEXTO.Substring(0, 200) ...</div>
                                                            }
                                                            else
                                                            {
                                                                <div>@cond.NOTI_TX_TEXTO</div>
                                                            }
                                                        }
                                                        <br />
                                                        <small class="text-muted">@cond.NOTIFICACAO_ANEXO.Count anexos</small>
                                                        <br />
                                                        <small class="text-muted">@CrossCutting.Formatters.LongDateFormatter(cond.NOTI_DT_EMISSAO.Value)</small> &nbsp;&nbsp;&nbsp;&nbsp;
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                    <div class="form-group">
                                        @Html.ButtonLinkIndex(text: "Ir Para Notificações", action: "MontarTelaNotificacao", controller: "Notificacao")
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <br />
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Notícias</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content ibox-heading">
                            <h3><i class="fa fa-newspaper-o"></i> Novas Notícias</h3>
                            <small><i class="fa fa-tim"></i> Você tem @((Int32)Session["NoticiasNumero"]) novas notícias </small>
                        </div>
                        @using (Html.BeginForm("CarregarBase", "BaseAdmnin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            if ((Session["Noticias"] as List<EntitiesServices.Model.NOTICIA>).Count > 0)
                            {
                                foreach (var cond in (Session["Noticias"] as List<EntitiesServices.Model.NOTICIA>))
                                {
                                    if (cond.NOTC_DT_VALIDADE >= DateTime.Today)
                                    {
                                        <div class="ibox">
                                            <div class="ibox-content">
                                                <a href="@Url.Action("VerNoticia", "Noticia", new { id = cond.NOTC_CD_ID })" class="btn-link">
                                                    <h2>
                                                        @cond.NOTC_NM_TITULO
                                                    </h2>
                                                </a>
                                                <div class="small m-b-xs">
                                                    <strong>@cond.NOTC_NM_AUTOR    </strong> <span class="text-muted"><i class="fa fa-clock-o"></i>    @cond.NOTC_DT_DATA_AUTOR.Value.ToLongDateString()</span>
                                                </div>
                                                <img src="@Url.Content(cond.NOTC_AQ_FOTO)" style="width: auto; height: auto; max-height: 190px; max-width: 120px;">
                                                <p>
                                                    @if (cond.NOTC_TX_TEXTO.Length > 1000)
                                                    {
                                                        @cond.NOTC_TX_TEXTO.Substring(0, 1000)
                                                    }
                                                    else
                                                    {
                                                        @cond.NOTC_TX_TEXTO
                                                    }
                                                </p>
                                                <a href=@cond.NOTC_LK_LINK>@cond.NOTC_LK_LINK</a>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="small text-right">
                                                            <h5>Stats:</h5>
                                                            <div> <i class="fa fa-comments-o"> </i> @cond.NOTICIA_COMENTARIO.Count comentários </div>
                                                            <i class="fa fa-eye"> </i> @cond.NOTC_NR_ACESSO visualizações
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                            <div class="form-group">
                                @Html.ButtonLinkIndex(text: "Ir Para Notícias", action: "MontarTelaUsuario", controller: "Noticia")
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/loadingDots.css")
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>

    @Scripts.Render("~/Scripts/notifier.js")
    @Scripts.Render("~/Scripts/notificationHandler.js")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Excel' },
                    { extend: 'pdf', title: 'PDF' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('body').addClass('light-navbar');

            $("#sparkline1").sparkline([5, 12, 6, 4, 15, 1, 11, 8], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('body').addClass('light-navbar');

            $("#sparkline2").sparkline([1, 3, 6, 2, 7, 1, 5, 3], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });

        });
    </script>

    <script>
        $.ajax({
            url: '../BaseAdmin/GetRefreshTime'
            , type: 'POST'
            , success: function (r) {
                window.setInterval(function () {
                    window.location.href = "../BaseAdmin/CarregarBase"
                }, r * 1000);

                //clearInterval()
            }
        });
    </script>

    @*Notification Sound*@
    <script>
        $.ajax({
            url: '../BaseAdmin/GetConfigNotificacoes'
            , type: 'POST'
            , success: function (e) {
                console.log(e);

                var audio = {};
                audio["msg"] = new Audio();
                audio["msg"].src = "../Sounds/" + e.CONF_NM_ARQUIVO_ALARME;

                function PlayNotificationChime() {
                    audio["msg"].play();
                }

                if (e.NOTIFICACAO) {
                    PlayNotificationChime();
                }
            }
        });
    </script>

    <script>
        $(window).on("load", function () {
            $('.dotContainer').fadeOut("slow");
            $('#title').css("filter", "blur(0)");
            $('#content').css("filter", "blur(0)");
        });
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
