@using Presentation.Extensions
@model SMS_Solution.ViewModels.ContaPagarViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Contas a Pagar</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaCP", "ContaPagar")">Contas a Pagar</a>
            </li>
            <li class="active">
                <strong>Contas a Pagar - Inclusão</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Conta a Pagar - Inclusão</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Configuração 1</a>
                            </li>
                            <li>
                                <a href="#">Configuração 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    @Html.AntiForgeryToken()
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="tabs-container">
                        @using (Html.BeginForm("IncluirCP", "ContaPagar", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                        {
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <button class="btnSubmit btn btn-sm btn-success" id="basictoast" type="button">Confirma Inclusão de Lançamento</button>
                                    @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBaseCP", controller: "ContaPagar")
                                </div>
                            </div>

                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Dados Gerais e Parcelamento</a></li>
                                <li><a data-toggle="tab" href="#tab-2">Anexos</a></li>
                            </ul>
                            <div class="tab-content">
                                @*Dados Gerais e Parcelamento*@
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <h4>Dados Gerais</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    @Html.HiddenFor(m => m.CAPA_IN_ATIVO)
                                                    @Html.HiddenFor(m => m.CAPA_IN_LIQUIDADA)
                                                    @Html.HiddenFor(m => m.CAPA_IN_PAGA_PARCIAL)
                                                    @Html.HiddenFor(m => m.CAPA_IN_PARCELADA)
                                                    @Html.HiddenFor(m => m.CAPA_IN_TIPO_LANCAMENTO)
                                                    @Html.HiddenFor(m => m.USUA_CD_ID)
                                                    @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                    Fornecedor
                                                    <div class="input-group">
                                                        <select name="FORN_CD_ID" id="lstForn" class="form-control" data-val="true" style="display: none;" autofocus>
                                                            <option>Selecionar</option>
                                                        </select>
                                                        <span class="input-group-addon">
                                                            @Html.TableLinkAction("IncluirFornecedor", "ContaPagar", null, "glyphicon glyphicon-plus", "Adicionar Fornecedor")
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Centro de Custo
                                                    @Html.DropDownListFor(m => m.CECU_CD_ID, (SelectList)ViewBag.CC, "Selecionar", new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.CECU_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Responsável
                                                    @Html.DropDownListFor(m => m.USUA_CD_ID, (SelectList)ViewBag.Usuarios, "Selecionar", new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.USUA_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Num.Documento
                                                    @Html.TextBoxFor(m => m.CAPA_NR_DOCUMENTO, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.CAPA_NR_DOCUMENTO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Forma de Pagamento*
                                                    @Html.DropDownListFor(m => m.FOPA_CD_ID, (SelectList)ViewBag.Formas, "Selecionar", new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.FOPA_CD_ID, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Tipo de Documento
                                                    @Html.DropDownListFor(m => m.CAPA_IN_TIPO_DOC, (SelectList)ViewBag.TipoDoc, "Selecionar", new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.CAPA_IN_TIPO_DOC, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <hr />
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Descrição
                                                    @Html.TextBoxFor(m => m.CAPA_DS_DESCRICAO, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.CAPA_DS_DESCRICAO, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data de Emissão
                                                    @Html.TextBoxFor(m => m.CAPA_DT_LANCAMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.CAPA_DT_LANCAMENTO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Competência
                                                    @Html.TextBoxFor(m => m.CAPA_DT_COMPETENCIA, "{0:MM/yyyy}", new { @class = "form-control date-picker1", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.CAPA_DT_COMPETENCIA, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Valor
                                                    @Html.TextBoxFor(m => m.CAPA_VL_VALOR, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.CAPA_VL_VALOR, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data de Vencimento
                                                    @Html.TextBoxFor(m => m.CAPA_DT_VENCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.CAPA_DT_VENCIMENTO, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <hr />
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Parcelamento/Pagamento Recorrente
                                                    @Html.DropDownListFor(m => m.CAPA_IN_PAGAMENTO, (SelectList)ViewBag.Pagamento, "Único", new { @class = "form-control", autofocus = true, onchange = "ChangePag($(this).val())", @id = "pagamento" })
                                                    @Html.ValidationMessageFor(m => m.CAPA_IN_PAGAMENTO, "", new { @style = "color:red" })
                                                </div>
                                                <div id="pagRecorrente">
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Num.Pagamentos
                                                        @Html.TextBoxFor(m => m.CAPA_IN_RECORRENTE, new { @class = "form-control touchspin3", autofocus = true, @id = "inRecorrente" })
                                                        @Html.ValidationMessageFor(m => m.CAPA_IN_RECORRENTE, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Data inicial
                                                        @Html.TextBoxFor(m => m.CAPA_DT_INICIO_RECORRENCIA, "{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true, @id = "data4" })
                                                        @Html.ValidationMessageFor(m => m.CAPA_DT_INICIO_RECORRENCIA, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                                <div id="parcelamento">
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Num.Parcelas
                                                        @Html.TextBoxFor(m => m.CAPA_IN_PARCELAS, new { @class = "form-control touchspin2", autofocus = true, @id = "parcelas", onchange = "CheckNumParc($(this).val())" })
                                                        @Html.ValidationMessageFor(m => m.CAPA_IN_PARCELAS, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Data inicial
                                                        @Html.TextBoxFor(m => m.CAPA_DT_INICIO_PARCELAS, "{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true, @id = "data2" })
                                                        @Html.ValidationMessageFor(m => m.CAPA_DT_INICIO_PARCELAS, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                                <div id="periodicidade">
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        Periodicidade
                                                        @Html.DropDownListFor(m => m.PERI_CD_ID, (SelectList)ViewBag.Periodicidade, "Selecionar", new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.PERI_CD_ID, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <hr />
                                            <h4>Observações</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Observações
                                                    @Html.TextAreaFor(m => m.CAPA_TX_OBSERVACOES, new { @class = "form-control", style = "width: 100%; height: 100px;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.CAPA_TX_OBSERVACOES, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Imagens - Foto e Anexos*@
                                <div id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <hr />
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <h4>Anexos</h4><input class="btn btn-sm btn-warning" id="inputFile" type="file" multiple />
                                                <br />
                                                <div class="form-group">
                                                    <div class="ibox-content">
                                                        <br />
                                                        <table style="width: 100%;" class="table table-striped table-bordered table-hover dataTables-example" id="myFiles">
                                                            <thead style="background-color:lightsteelblue">
                                                                <tr>
                                                                    <td>Nome</td>
                                                                    <td>Tipo</td>
                                                                    <td>Ações</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <br />
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    @Html.ButtonActionSubmit(text: "BtnSubmit", htmlAttributes: new { id = "submit", style = "display: none;" })
                                    <button class="btnSubmit btn btn-sm btn-success" id="basictoast" type="button">Confirma Inclusão de Lançamento</button>
                                    @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBaseCP", controller: "ContaPagar")
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/MonthPicker.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    <script src="~/Scripts/MonthPicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>

    <script>
        $("#lstForn").select2({
            //data: filterSelect,
            ajax: {
                url: '../Fornecedor/BuscaNomeRazao',
                type: 'POST',
                data: function (params) {
                    var query = {
                        nome: params.term
                    }
                    return query
                },
                processResults: function (data) {
                    console.log(data);
                    return {
                        results: data
                    }
                }
            },
            placeholder: 'Busque por NOME ou RAZÃO SOCIAL',
            minimumInputLength: 1
        });
    </script>

    <script>
        function ChangePag(val) {
            if (val == 1) {
                $('#pagRecorrente').show();
                $('#parcelamento').hide();
                $('#periodicidade').show();

                $('#parcelas').val(0);
                $('#data2').val('');
            } else if (val == 2) {
                $('#pagRecorrente').hide();
                $('#parcelamento').show();
                $('#periodicidade').show();

                $('#parcelas').val(2);

                $('#inRecorrente').val(0);
                $('#data4').val('');
            } else {
                $('#pagRecorrente').hide();
                $('#parcelamento').hide();
                $('#periodicidade').hide();

                $('#parcelas').val(0);
                $('#data2').val('');
                $('#inRecorrente').val(0);
                $('#data4').val('');
            }
        }

        $(function () {
            ChangePag($('#pagamento').val());
        });

        function CheckNumParc(val) {
            if (val == 1) {
                $('#parcelas').val(2);
            }
        }
    </script>

    @*<script type="text/javascript">
            $(document).ready(function () {

                $('.dataTables-example').DataTable({
                    pageLength: 25,
                    dom: '<"html5buttons"B>lTfgitp',
                    buttons: [
                        { extend: 'copy' },
                        { extend: 'csv' },
                        { extend: 'excel', title: 'ExampleFile' },
                        { extend: 'pdf', title: 'ExampleFile' },

                        {
                            extend: 'print',
                            customize: function (win) {
                                $(win.document.body).addClass('white-bg');
                                $(win.document.body).css('font-size', '10px');

                                $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                            }
                        }
                    ]

                });



            });

        </script>*@

    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });

        $(function () {
            $('.date-picker1').MonthPicker({
                Button: false
            });
        });

        $(function () {
            $('#data4').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });

        $(function () {
            $('#data2').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#cep").mask("99999-999");
            $("#data2").mask("99/99/9999");
            $("#data4").mask("99/99/9999");
            $("#cep").mask("99999-999");
        });
    </script>
    @Scripts.Render("~/plugins/iCheck")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>
    <script type="text/javascript">
        $(".touchspin1").TouchSpin({
            min: 1,
            max: 300,
            step: 1,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>
    <script type="text/javascript">
        $(".touchspin2").TouchSpin({
            min: 0,
            max: 24,
            step: 1,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>
    <script type="text/javascript">
        $(".touchspin3").TouchSpin({
            min: 0,
            max: 24,
            step: 1,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Inclusão em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>

    <script>
        SendFilesV2(null, 'ContaPagar', 'UploadFileToSession');
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
