@using Presentation.Extensions
@using CrossCutting;
@using EntitiesServices.Work_Classes;
@model EntitiesServices.Model.CONTA_PAGAR
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div id="containerModalDesc">
        <div class="modal fade" id="modalDesc" tabindex="-1" role="dialog" aria-labelledby="modalDesc" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDesc">Descrição</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modalDescBody" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button onclick="limpaModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-title">
        <h3 class="title">Contas a Pagar</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Contas a Pagar</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Hoje</span>
                    <h5>Contas a Pagar</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.CPS</h1>
                    <div class="stat-percent font-bold text-navy">32% <i class="fa fa-level-up"></i></div>
                    <small>Lançamentos Cadastrados</small>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
        @if (ViewBag.Perfil == "ADM" || ViewBag.Perfil == "GER")
        {
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Contas a Pagar</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@CrossCutting.Formatters.DecimalFormatter(ViewBag.Pago)</h1>
                        <div class="stat-percent font-bold text-navy">22% <i class="fa fa-level-up"></i></div>
                        <small>Pagamentos no Mês</small>
                        <br />
                        <br />
                        @Html.ButtonLinkIndex(text: "Ver", controller: "ContaPagar", action: "VerPagamentosMes", buttonClass: "white")
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Contas a Pagar</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@CrossCutting.Formatters.DecimalFormatter(ViewBag.APagar)</h1>
                        <div class="stat-percent font-bold text-navy">22% <i class="fa fa-level-up"></i></div>
                        <small>A Pagar no Mês</small>
                        <br />
                        <br />
                        @Html.ButtonLinkIndex(text: "Ver", controller: "ContaPagar", action: "VerAPagarMes", buttonClass: "white")
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">Hoje</span>
                        <h5>Contas a Pagar</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@CrossCutting.Formatters.DecimalFormatter(ViewBag.Atrasos)</h1>
                        <div class="stat-percent font-bold text-navy">22% <i class="fa fa-level-up"></i></div>
                        <small>Lançamentos em Atraso</small>
                        <br />
                        <br />
                        @Html.ButtonLinkIndex(text: "Ver", controller: "ContaPagar", action: "VerLancamentosAtrasoCP", buttonClass: "white")
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                </div>

                @using (Html.BeginForm("FiltrarCP", "ContaPagar", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", autofocus = true }))
                {
                    <div class="ibox-content">
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-5ths">
                                Fornecedor
                                <select name="FORN_CD_ID" id="lstForn" class="form-control" data-val="true" style="display: none;" autofocus>
                                    <option value="">Selecionar</option>
                                </select>
                            </div>
                            <div class="col-lg-5ths">
                                Centro de Custo
                                @Html.DropDownListFor(m => m.CECU_CD_ID, (SelectList)ViewBag.CC, "Selecionar", new { @class = "form-control", autofocus = true })
                            </div>
                            <div class="col-lg-5ths">
                                Data do Lançamento
                                @Html.TextBoxFor(m => m.CAPA_DT_LANCAMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "data1" })
                            </div>
                            <div class="col-lg-5ths">
                                Abertos/Pagos
                                @Html.DropDownListFor(m => m.CAPA_IN_ABERTOS, (SelectList)ViewBag.Filtro, "Selecionar", new { @class = "form-control", autofocus = true })
                            </div>
                             <div class="col-lg-5ths">
                                Conta Bancária
                                @Html.DropDownListFor(m => m.FORMA_PAGAMENTO.COBA_CD_ID, (SelectList)ViewBag.Contas, "Selecionar", new { @class = "form-control", autofocus = true })
                            </div>
                        </div>
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Data de Vencimento Inicial
                                @Html.TextBoxFor(m => m.CAPA_DT_VENCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "data3" })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Data de Vencimento Final
                                @Html.TextBoxFor(m => m.CAPA_DT_FINAL, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "data4" })
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Data de Pagamento
                                @Html.TextBoxFor(m => m.CAPA_DT_LIQUIDACAO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "data2" })
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Descrição (Histórico)
                                @Html.TextBoxFor(m => m.CAPA_DS_DESCRICAO, new { @class = "form-control", autofocus = true })
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Atraso
                                @Html.DropDownList("CAPA_ATRASO", (SelectList)ViewBag.Atrasado, "Selecionar", new { @class = "form-control", autofocus = true })
                            </div>
                        </div>
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-8 col-md-8 col-xs-12">
                                @Html.ButtonActionSubmit(text: "Filtrar")
                                @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "ContaPagar", action: "RetirarFiltroCP")
                                @Html.ButtonLinkIndex(text: "Exibir Todos", controller: "ContaPagar", action: "MostrarTudoCP")
                                @Html.ButtonLinkIndex(text: "Novo Lançamento", controller: "ContaPagar", action: "IncluirCP")
                                @Html.ButtonLinkIndex(text: "Voltar", controller: "ContaPagar", action: "Voltar")
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Contas a Pagar</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        @if (ViewBag.Listas != null && (ViewBag.Listas as List<EntitiesServices.Model.CONTA_PAGAR>).Count > 0)
                        {
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead style="background-color:lightsteelblue">
                                    <tr>
                                        <th>Número</th>
                                        <th>Emissão</th>
                                        <th>Centro de Custo</th>
                                        <th>Fornecedor</th>
                                        <th>Valor</th>
                                        <th>Valor Pago</th>
                                        <th>Saldo</th>
                                        <th>Vencimento</th>
                                        <th></th>
                                        <th class="td-one-action">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.CONTA_PAGAR>))
                                    {
                                        <tr @(cond.CAPA_CD_ID == ViewBag.volta ? "style=background:#c7ffc7;" : "style=")>
                                            <td style="cursor: pointer; text-decoration: underline; color: #337ab7;" onclick="mostrarDesc('@cond.CAPA_DS_DESCRICAO')">@cond.CAPA_NR_DOCUMENTO</td>
                                            <td>@cond.CAPA_DT_LANCAMENTO.Value.ToShortDateString()</td>
                                            @if (cond.CENTRO_CUSTO != null)
                                            {
                                                <td>@cond.CENTRO_CUSTO.CECU_NM_EXIBE</td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                            @if (cond.FORNECEDOR != null)
                                            {
                                                <td>@cond.FORNECEDOR.FORN_NM_NOME</td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                            <td>@CrossCutting.Formatters.DecimalFormatter(cond.CAPA_VL_VALOR.Value)</td>
                                            <td>@CrossCutting.Formatters.DecimalFormatter(cond.CAPA_VL_VALOR_PAGO == null ? 0 : cond.CAPA_VL_VALOR_PAGO.Value)</td>
                                            <td>@CrossCutting.Formatters.DecimalFormatter(cond.CAPA_VL_SALDO.Value)</td>
                                            <td>@cond.CAPA_DT_VENCIMENTO.Value.ToShortDateString()</td>
                                            @if (cond.CAPA_IN_LIQUIDADA == 1)
                                            {
                                                <td><span class="badge badge-primary">Liquidada</span></td>
                                            }
                                            else if (cond.CAPA_IN_PARCELADA == 1)
                                            {
                                                <td><span class="badge badge-success">Parcelada</span></td>
                                            }
                                            else if (cond.CAPA_IN_LIQUIDADA == 0)
                                            {
                                                <td><span class="badge badge-warning">Em Aberto</span></td>
                                            }
                                            else if (cond.CAPA_NR_ATRASO > 0)
                                            {
                                                <td><span class="badge badge-danger">Em Atraso</span></td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td class="td-one-action" style="width: 80px">
                                                @if ((ViewBag.Perfil == "ADM" || ViewBag.Perfil == "GER") & cond.CAPA_IN_LIQUIDADA == 0)
                                                {
                                                    @Html.TableLinkDetails(cond.CAPA_CD_ID, "EditarCP", "fa-edit", "Editar")
                                                    if (cond.CAPA_IN_PARCELADA == 1)
                                                    {
                                                        <a alt="Parcela" class="tbl-link fa-lg fa fa-money" href="/ContaPagar/EditarCP/@cond.CAPA_CD_ID?parcelamento=true" target="_self" title="Parcela">&nbsp;</a>
                                                    }
                                                }
                                                else
                                                {
                                                    @Html.TableLinkDetails(cond.CAPA_CD_ID, "VerCP", "fa-search", "Ver")
                                                }
                                                @if (cond.CAPA_IN_LIQUIDADA == 0 && cond.CAPA_IN_PARCELADA == 0)
                                                {
                                                    <a alt="Parcela" class="tbl-link fa-lg fa fa-credit-card" href="/ContaPagar/EditarCP/@cond.CAPA_CD_ID?liquidar=true" target="_self" title="Liquidar">&nbsp;</a>
                                                }
                                                @if (cond.CAPA_IN_LIQUIDADA == 0)
                                                {
                                                    if (cond.CAPA_IN_ATIVO == 1)
                                                    {
                                                        <span style="color: #337ab7; cursor:pointer;" alt="Desativar" class="tbl-link fa-lg fa fa-trash-o" onclick="ShowModalExcluir('/ContaPagar/ExcluirCP/@cond.CAPA_CD_ID')" title="Desativar"></span>
                                                    }
                                                    else
                                                    {
                                                        <span style="color: #337ab7; cursor:pointer;" alt="Reativar" class="tbl-link fa-lg fa fa-refresh" onclick="ShowModalReativar('/ContaPagar/ReativarCP/@cond.CAPA_CD_ID')" title="Reativar"></span>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-xs-2">

                                </div>
                                <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-4 col-md-4 col-xs-8">
                                    <h2 style="font-weight: bold">Sua pesquisa não retornou nenhum resultado</h2>
                                    <p>Tente outras opções de pesquisa</p>

                                    @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "ContaPagar", action: "RetirarFiltroCP")
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-2">

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>]
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>

    <script>
        function mostrarDesc(desc) {
            $('#modalDescBody').html(desc);
            $('#modalDesc').modal('show');
        }
    </script>

     <script>
        $(document).ready(function () {
            DataTableEx.destroy();

            $.fn.dataTable.moment('DD/MM/YYYY');

            $('.dataTables-example').DataTable({
                pageLength: lineCount,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });
        });
    </script>

    <script>
        $("#lstForn").select2({
            //data: filterSelect,
            ajax: {
                url: '../Fornecedor/BuscaNomeRazao',
                type: 'POST',
                data: function (params) {
                    var query = {
                        nome: params.term
                    }
                    return query
                },
                processResults: function (data) {
                    console.log(data);
                    return {
                        results: data
                    }
                }
            },
            placeholder: 'Busque por NOME ou RAZÃO SOCIAL',
            minimumInputLength: 1
        });
    </script>

    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluir(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de lançamento?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }

        function ShowModalReativar(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Reativar" class="btn btn-primary" href="' + url + '" target="_self" title="Reativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma reativação de lançamento?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Reativação</h5>');
            $('#modal').modal('show');
        }
    </script>

    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#data1").mask("99/99/9999");
            $("#data2").mask("99/99/9999");
            $("#data3").mask("99/99/9999");
            $("#data4").mask("99/99/9999");
        });
    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>

}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

