@using Presentation.Extensions
@using CrossCutting;
@using EntitiesServices.Work_Classes;
@model EntitiesServices.Model.CONTA_RECEBER
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button onclick="limpaModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-title">
        <h3 class="title">Contas a Receber</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Contas a Receber</strong>
            </li>
        </ol>
        <br />
    </div>
    @if (ViewBag.Perfil == "ADM")
     {
         <div class="row">
             <div class="col-lg-3">
                 <div class="ibox float-e-margins">
                     <div class="ibox-title">
                         <span class="label label-primary pull-right">Hoje</span>
                         <h5>Contas a Receber</h5>
                     </div>
                     <div class="ibox-content">
                         <h1 class="no-margins">@CrossCutting.Formatters.DecimalFormatter(ViewBag.CRS)</h1>
                         <div class="stat-percent font-bold text-navy">32% <i class="fa fa-level-up"></i></div>
                         <small>Recebimentos no Dia</small>
                         <br />
                         <br />
                         <br />
                         <br />
                     </div>
                 </div>
             </div>
             <div class="col-lg-3">
                 <div class="ibox float-e-margins">
                     <div class="ibox-title">
                         <span class="label label-primary pull-right">Hoje</span>
                         <h5>Contas a Receber</h5>
                     </div>
                     <div class="ibox-content">
                         <h1 class="no-margins">@CrossCutting.Formatters.DecimalFormatter(ViewBag.Recebido)</h1>
                         <div class="stat-percent font-bold text-navy">22% <i class="fa fa-level-up"></i></div>
                         <small>Recebimentos no Mês</small>
                         <br />
                         <br />
                         @Html.ButtonLinkIndex(text: "Ver", controller: "ContaReceber", action: "VerRecebimentosMes", buttonClass: "white")
                     </div>
                 </div>
             </div>
             <div class="col-lg-3">
                 <div class="ibox float-e-margins">
                     <div class="ibox-title">
                         <span class="label label-primary pull-right">Hoje</span>
                         <h5>Contas a Receber</h5>
                     </div>
                     <div class="ibox-content">
                         <h1 class="no-margins">@CrossCutting.Formatters.DecimalFormatter(ViewBag.AReceber)</h1>
                         <div class="stat-percent font-bold text-navy">22% <i class="fa fa-level-up"></i></div>
                         <small>A Receber no Mês</small>
                         <br />
                         <br />
                         @Html.ButtonLinkIndex(text: "Ver", controller: "ContaReceber", action: "VerAReceberMes", buttonClass: "white")
                     </div>
                 </div>
             </div>
             <div class="col-lg-3">
                 <div class="ibox float-e-margins">
                     <div class="ibox-title">
                         <span class="label label-primary pull-right">Hoje</span>
                         <h5>Contas a Receber</h5>
                     </div>
                     <div class="ibox-content">
                         <h1 class="no-margins">@CrossCutting.Formatters.DecimalFormatter(ViewBag.Atrasos)</h1>
                         <div class="stat-percent font-bold text-navy">22% <i class="fa fa-level-up"></i></div>
                         <small>Lançamentos em Atraso</small>
                         <br />
                         <br />
                         @Html.ButtonLinkIndex(text: "Ver", controller: "ContaReceber", action: "VerLancamentosAtraso", buttonClass: "white")
                     </div>
                 </div>
             </div>
         </div>
     }

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                </div>

                @using (Html.BeginForm("FiltrarCR", "ContaReceber", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Cliente
                                <select name="CLIE_CD_ID" id="lstCliente" class="form-control" data-val="true" style="display: none;" autofocus>
                                    <option>Selecionar</option>
                                </select>
                                @*@Html.DropDownListFor(m => m.CLIE_CD_ID, (SelectList)ViewBag.Clientes, "Selecionar", new { @class = "form-control" })*@
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Data da Emissão
                                @Html.TextBoxFor(m => m.CARE_DT_LANCAMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true })
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Data de Vencimento Inicial
                                @Html.TextBoxFor(m => m.CARE_DT_VENCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true })
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Data de Vencimento Final
                                @Html.TextBox("CARE_DT_VENCIMENTO_FINAL", "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                Descrição (Histórico)
                                @Html.TextBoxFor(m => m.CARE_DS_DESCRICAO, new { @class = "form-control", autofocus = true })
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Abertos/Fechados
                                @Html.DropDownListFor(m => m.CARE_IN_ABERTOS, (SelectList)ViewBag.Filtro, "Selecionar", new { @class = "form-control" })
                            </div>
                             <div class="col-lg-3 col-md-3 col-xs-12">
                                Conta Bancária
                                @Html.DropDownListFor(m => m.FORMA_PAGAMENTO.COBA_CD_ID, (SelectList)ViewBag.Contas, "Selecionar", new { @class = "form-control", autofocus = true })
                            </div>
                        </div>
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                @Html.ButtonActionSubmit(text: "Filtrar")
                                @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "ContaReceber", action: "RetirarFiltroCR")
                                @Html.ButtonLinkIndex(text: "Gerar Relatório", controller: "ContaReceber", action: "GerarRelatorioLista")
                                @Html.ButtonLinkIndex(text: "Exibir Todos", controller: "ContaReceber", action: "MostrarTudoCR")
                                @Html.ButtonLinkIndex(text: "Exibir Ativos", controller: "ContaReceber", action: "MostrarAtivosCR")
                                @Html.ButtonLinkIndex(text: "Novo Lançamento", controller: "ContaReceber", action: "IncluirCR")
                                @Html.ButtonLinkIndex(text: "Voltar", controller: "ContaReceber", action: "Voltar")
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Contas a Receber</h5>
                </div>
                <div class="ibox-content">
                      @if (!ViewData.ModelState.IsValid)
                      {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>
                      }
                    <div class="row">
                        @if ((ViewBag.Listas as List<EntitiesServices.Model.CONTA_RECEBER>).Count > 0)
                        {
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Centro de Custo</th>
                                        <th>Emissão</th>
                                        <th>Valor</th>
                                        <th>Descrição</th>
                                        <th>Vencimento</th>
                                        <th>Saldo</th>
                                        <th>Valor Recebido</th>
                                        <th></th>
                                        <th class="td-one-action">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.CONTA_RECEBER>))
                                    {
                                        <tr @(cond.CARE_CD_ID == ViewBag.volta ? "style=background:#c7ffc7;" : "style=")>
                                            @if (cond.CLIENTE != null)
                                            {
                                                <td>@cond.CLIENTE.CLIE_NM_NOME</td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                            @if (cond.CENTRO_CUSTO != null)
                                            {
                                                <td>@cond.CENTRO_CUSTO.CECU_NM_NOME</td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                            <td>@cond.CARE_DT_LANCAMENTO.Value.ToShortDateString()</td>
                                            <td>@CrossCutting.Formatters.DecimalFormatter(cond.CARE_VL_VALOR)</td>
                                            <td>@cond.CARE_DS_DESCRICAO</td>
                                            <td>@cond.CARE_DT_VENCIMENTO.Value.ToShortDateString()</td>
                                            <td>@CrossCutting.Formatters.DecimalFormatter(cond.CARE_VL_SALDO.Value)</td>
                                            <td>@CrossCutting.Formatters.DecimalFormatter(cond.CARE_VL_VALOR_RECEBIDO != null ? cond.CARE_VL_VALOR_RECEBIDO.Value : 0)</td>
                                            @if (cond.CARE_IN_LIQUIDADA == 1)
                                            {
                                                <td><span class="badge badge-primary">Liquidada</span></td>
                                            }
                                            else if (cond.CARE_IN_PARCELADA == 1)
                                            {
                                                <td><span class="badge badge-success">Parcelada</span></td>
                                            }
                                            else if (cond.CARE_IN_LIQUIDADA == 0)
                                            {
                                                <td><span class="badge badge-warning">Em Aberto</span></td>
                                            }
                                            else if (cond.CARE_NR_ATRASO > 0)
                                            {
                                                <td><span class="badge badge-danger">Em Atraso</span></td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td class="td-one-action">
                                                @if (ViewBag.Perfil == "ADM" && cond.CARE_IN_LIQUIDADA == 0)
                                                {
                                                    @Html.TableLinkDetails(cond.CARE_CD_ID, "EditarCR", "fa-edit", "Editar Lançamento")
                                                }
                                                else
                                                {
                                                    @Html.TableLinkDetails(cond.CARE_CD_ID, "VerCR", "fa-search", "Consultar Lançamento")
                                                }
                                                @if (cond.CARE_IN_PARCELADA == 1)
                                                {
                                                    <a alt="Parcela" class="tbl-link fa-lg fa fa-money" href="/ContaReceber/EditarCR/@cond.CARE_CD_ID?parcelamento=true" target="_self" title="Parcela"></a>
                                                }
                                                 @if (cond.CARE_IN_LIQUIDADA == 0 && cond.CARE_IN_PARCELADA == 0)
                                                {
                                                    <a alt="Parcela" class="tbl-link fa-lg fa fa-credit-card" href="/ContaReceber/EditarCR/@cond.CARE_CD_ID?liquidar=true" target="_self" title="Liquidar">&nbsp;</a>
                                                }
                                                @if (cond.CARE_IN_LIQUIDADA == 0)
                                                {
                                                    if (cond.CARE_IN_ATIVO == 1)
                                                    {
                                                        <span style="color: #337ab7; cursor:pointer;" alt="Excluir" class="tbl-link fa-lg fa fa-trash-o" onclick="ShowModalExcluir('/ContaReceber/ExcluirCR/@cond.CARE_CD_ID')" title="Excluir"></span>
                                                        @*@Html.TableLinkDetails(cond.CARE_CD_ID, "ExcluirCR", "fa-trash-o", "Excluir Lançamento")*@
                                                    }
                                                    else
                                                    {
                                                        <span style="color: #337ab7; cursor:pointer;" alt="Reativar" class="tbl-link fa-lg fa fa-refresh" onclick="ShowModalReativar('/ContaReceber/ReativarCR/@cond.CARE_CD_ID')" title="Reativar"></span>
                                                        @*@Html.TableLinkDetails(cond.CARE_CD_ID, "ReativarCR", "fa-refresh", "Reativar Lançamento")*@
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/vectorMap")
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>


    <script>
        $(".date-picker").mask("99/99/9999");
    </script>

    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluir(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de lançamento?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }

        function ShowModalReativar(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Reativar" class="btn btn-primary" href="' + url + '" target="_self" title="Reativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma reativação de lançamento?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Reativação</h5>');
            $('#modal').modal('show');
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });

    </script>
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
        });
    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
            var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

            var data1 = [
                { label: "Data 1", data: d1, color: '#17a084' },
                { label: "Data 2", data: d2, color: '#127e68' }
            ];

            var data3 = [
                { label: "Data 1", data: d1, color: '#fbbe7b' },
                { label: "Data 2", data: d2, color: '#f8ac59' }
            ];
            $.plot($("#flot-chart3"), data3, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        },
                    },
                    points: {
                        width: 0.1,
                        show: false
                    },
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false,
                }
            });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            var mapData = {
                "US": 498,
                "SA": 200,
                "CA": 1300,
                "DE": 220,
                "FR": 540,
                "CN": 120,
                "AU": 760,
                "BR": 550,
                "IN": 200,
                "GB": 120,
                "RU": 2000
            };

        });
    </script>

    <script>
        $("#lstCliente").select2({
            //data: filterSelect,
            ajax: {
                url: '../Cliente/BuscaNomeRazao',
                type: 'POST',
                data: function (params) {
                    var query = {
                        nome: params.term
                    }
                    return query
                },
                processResults: function (data) {
                    console.log(data);
                    return {
                        results: data
                    }
                }
            },
            placeholder: 'Busque por NOME ou RAZÃO SOCIAL',
            minimumInputLength: 1
        });
    </script>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

