@using Presentation.Extensions
@model SMS_Solution.ViewModels.ContaReceberViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title"> 
        <h3 class="title">Contas a Receber</h3> 
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaCR", "ContaReceber")">Contas a Receber</a>
            </li>
            <li class="active">
                <strong>Contas a Receber - Parcelamento</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-2">
            <div class="widget style1 yellow-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-thumbs-o-up fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        @if (Model.CARE_IN_LIQUIDADA == 0)
	                    {
                            <h3 class="font-normal">Em Aberto</h3>
                        }
                        else
                        {
                            <h3 class="font-normal">Liquidada</h3>
                        }
                    </div>
                </div>
            </div>
        </div>
        @if (Model.CARE_NR_ATRASO > 0)
        {
            <div class="col-lg-2">
                <div class="widget style1 red-bg">
                    <div class="row vertical-align">
                        <div class="col-xs-3">
                            <i class="fa fa-thumbs-o-up fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h3 class="font-normal">Atraso: @Model.CARE_NR_ATRASO</h3>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-lg-2">
            <div class="widget style1 navy-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-thumbs-o-up fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h3 class="font-normal">Vencimento: @Model.CARE_DT_VENCIMENTO.Value.ToShortDateString()</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Conta a Receber - Parcelamento</h5>
                </div>

                <div class="ibox-content">
                    @Html.AntiForgeryToken()
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">Dados de Parcelamento</a></li>
                        </ul>
                        <div class="tab-content">

                            @*Dados de Parcelamento*@
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    @using (Html.BeginForm("ParcelarCR", "ContaReceber", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                                    {
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                    @Html.HiddenFor(m => m.CARE_CD_ID)
                                                    @Html.HiddenFor(m => m.CARE_DS_DESCRICAO)
                                                    @Html.HiddenFor(m => m.CARE_DT_COMPETENCIA)
                                                    @Html.HiddenFor(m => m.CARE_DT_DATA_LIQUIDACAO)
                                                    @Html.HiddenFor(m => m.CARE_IN_LIQUIDADA)
                                                    @Html.HiddenFor(m => m.CARE_DT_LANCAMENTO)
                                                    @Html.HiddenFor(m => m.CARE_DT_VENCIMENTO)
                                                    @Html.HiddenFor(m => m.CARE_IN_ATIVO)
                                                    @Html.HiddenFor(m => m.CARE_IN_LIQUIDADA)
                                                    @Html.HiddenFor(m => m.CARE_IN_PAGA_PARCIAL)
                                                    @Html.HiddenFor(m => m.CARE_IN_PARCELADA)
                                                    @Html.HiddenFor(m => m.CARE_IN_TIPO_LANCAMENTO)
                                                    @Html.HiddenFor(m => m.CARE_NM_FAVORECIDO)
                                                    @Html.HiddenFor(m => m.CARE_NM_FORMA_PAGAMENTO)
                                                    @Html.HiddenFor(m => m.CARE_NR_DOCUMENTO)
                                                    @Html.HiddenFor(m => m.CARE_VL_DESCONTO)
                                                    @Html.HiddenFor(m => m.CARE_VL_JUROS)
                                                    @Html.HiddenFor(m => m.CARE_VL_SALDO)
                                                    @Html.HiddenFor(m => m.CARE_VL_TAXAS)
                                                    @Html.HiddenFor(m => m.CARE_VL_VALOR)
                                                    @Html.HiddenFor(m => m.CARE_VL_VALOR_LIQUIDADO)
                                                    @Html.HiddenFor(m => m.CECU_CD_ID)
                                                    @Html.HiddenFor(m => m.CLIE_CD_ID)
                                                    @Html.HiddenFor(m => m.COBA_CD_ID)
                                                    @Html.HiddenFor(m => m.FILI_CD_ID)
                                                    @Html.HiddenFor(m => m.FOPA_CD_ID)
                                                    @*@Html.HiddenFor(m => m.PEVE_CD_ID)*@
                                                    @Html.HiddenFor(m => m.TIFA_CD_ID)
                                                    @Html.HiddenFor(m => m.USUA_CD_ID)
                                                    @Html.HiddenFor(m => m.CARE_TX_OBSERVACOES)
                                                    Cliente
                                                    @Html.TextBoxFor(m => m.CLIENTE.CLIE_NM_NOME, new { @class = "form-control", autofocus = true , @readonly="readonly"})
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <hr />
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Num.Documento
                                                    @Html.TextBoxFor(m => m.CARE_NR_DOCUMENTO, new { @class = "form-control", autofocus = true , @readonly="readonly"})
                                                </div>
                                                <div class="col-lg-10 col-md-10 col-xs-12">
                                                    Histórico
                                                    @Html.TextBoxFor(m => m.CARE_DS_DESCRICAO, new { @class = "form-control", autofocus = true , @readonly="readonly"})
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data de Emissão
                                                    @Html.TextBoxFor(m => m.CARE_DT_LANCAMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true , @readonly="readonly"})
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Competência
                                                    @Html.TextBoxFor(m => m.CARE_DT_COMPETENCIA, "{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true , @readonly="readonly"})
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Valor
                                                    @Html.TextBoxFor(m => m.CARE_VL_VALOR,"{0:n2}", new { @class = "form-control", autofocus = true , @readonly="readonly"})
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Favorecido
                                                    @Html.TextBoxFor(m => m.CARE_NM_FAVORECIDO, new { @class = "form-control", autofocus = true , @readonly="readonly"})
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data de Vencimento
                                                    @Html.TextBoxFor(m => m.CARE_DT_VENCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true , @readonly="readonly"})
                                                </div>
                                                @if (Model.CARE_NR_ATRASO > 0)
	                                            {
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Atraso
                                                        @Html.TextBoxFor(m => m.CARE_NR_ATRASO, new { @class = "form-control", autofocus = true , @readonly="readonly"})
                                                    </div>
	                                            }   
                                            </div>
                                        </div>
                                        <div class="row">
                                            <hr />
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Valor Parcelado
                                                    @Html.TextBoxFor(m => m.CARE_VL_PARCELADO, "{0:n2}", new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.CARE_VL_PARCELADO, "",new { @style="color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Num.Parcelas
                                                    @Html.TextBoxFor(m => m.CARE_IN_PARCELAS, new { @class = "form-control touchspin2", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.CARE_IN_PARCELAS, "",new { @style="color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data inicial
                                                    @Html.TextBoxFor(m => m.CARE_DT_INICIO_PARCELA, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true})
                                                    @Html.ValidationMessageFor(m => m.CARE_DT_INICIO_PARCELA, "",new { @style="color:red" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Periodicidade
                                                    @Html.DropDownListFor(m => m.PERI_CD_ID, (SelectList)ViewBag.Periodicidade, "Selecionar", new { @class = "form-control", autofocus = true })                            
                                                    @Html.ValidationMessageFor(m => m.PERI_CD_ID, "",new { @style="color:red" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.ButtonActionSubmit(text: "Gerar Parcelas para o Lançamento", htmlAttributes: new { id = "basictoast" })
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <br />
                    @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBaseCR", controller: "ContaReceber")
                </div>
            </div>
         </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    
   

    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
            .css("display", "normal")
            .next("button").button({
                icons: { primary: "ui-icon-calendar" },
                label: "Selecione uma data",
                text: false 
            });
        });
    </script>  

    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#cep").mask("99999-999");
        });
    </script>
    @Scripts.Render("~/plugins/iCheck")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>
    <script type="text/javascript">
        $(".touchspin2").TouchSpin({
            min: 1,
            max: 24,
            step: 1,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Parcelamento em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                        + shortCutFunction
                        + "](\""
                        + msg
                        + (title ? "\", \"" + title : '')
                        + "\")\n\ntoastr.options = "
                        + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
