@using Presentation.Extensions
@using CrossCutting;
@model EntitiesServices.Model.TELEFONE
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*Titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button onclick="limpaModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("EnviarSmsTelefone", "Telefone", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
    { 
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enviar SMS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    @Html.Hidden("id", null, new { id = "idForn" })
                    Mensagem
                    @Html.TextBox("mensagem", null, new { @style = "height: 100px;text-align:left; vertical-align: top", @class = "form-control" })
                </div>
                <div class="modal-footer">
                    @Html.ButtonActionSubmit("Enviar")
                <button type="button" class="btn btn-sm btn-warning" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
            </div>
        </div>
    }

    <div class="page-title"> 
        <h3 class="title">Telefones</h3> 
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Telefones</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>           
            
                @using (Html.BeginForm("FiltrarTelefone", "Telefone", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-2 col-md-2 col-xs-5ths">
                                    Categoria 
                                    @Html.DropDownListFor(m => m.CATE_CD_ID, (SelectList)ViewBag.Cats, "Selecionar", new { @class = "form-control" })                            
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-5ths">
                                    Nome
                                    @Html.TextBoxFor(m => m.TELE_NM_NOME, new { @class = "form-control", autofocus = true })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-5ths">
                                    Telefone
                                    @Html.TextBoxFor(m => m.TELE_NR_TELEFONE, new { @class = "form-control", autofocus = true })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-5ths">
                                    Celular
                                    @Html.TextBoxFor(m => m.TELE_NR_CELULAR, new { @class = "form-control", autofocus = true })
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    E-Mail
                                    @Html.TextBoxFor(m => m.TELE_NM_EMAIL, new { @class = "form-control", autofocus = true })
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Cidade
                                    @Html.TextBoxFor(m => m.TELE_NM_CIDADE, new { @class = "form-control", autofocus = true })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    UF
                                    @Html.DropDownListFor(m => m.UF_CD_ID, (SelectList)ViewBag.UF, "Selecionar", new { @class = "form-control" })                            
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    @Html.ButtonActionSubmit(text: "Filtrar")
                                    @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Telefone", action: "RetirarFiltroTelefone")
                                    @Html.ButtonLinkIndex(text: "Exibir Todos", controller: "Telefone", action: "MostrarTudoTelefone")
                                    @if (ViewBag.Perfil == "ADM" || ViewBag.Perfil == "GER")
                                    {
                                        @Html.ButtonLinkIndex(text: "Novo Telefone", controller: "Telefone", action: "IncluirTelefone")
                                    }
                                    @Html.ButtonLinkIndex(text: "Exibir Cards dos Telefones", controller: "Telefone", action: "VerCardsTelefone")
                                    @Html.ButtonLinkIndex(text: "Gerar Relatório", controller: "Telefone", action: "GerarRelatorioLista")
                                    @Html.ButtonLinkIndex(text: "Voltar", controller: "Telefone", action: "Voltar")
                                </div>
                            </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Telefones</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="row">
                            @if (ViewBag.Listas != null && (ViewBag.Listas as List<EntitiesServices.Model.TELEFONE>).Count > 0)                                        {
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead style ="background-color:lightsteelblue">
                                        <tr>
                                            <th>Nome</th>   
                                            <th>Categoria</th>   
                                            <th>Telefone</th>
                                            <th>Celular</th>
                                            <th>E-Mail</th>   
                                            <th>WhatsApp</th>
                                            <th>Cidade</th>   
                                            <th>UF</th>
                                            <th class="td-one-action">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.TELEFONE>).OrderBy(p => p.TELE_NM_NOME))
                                        {
                                            <tr>
                                                <td>@cond.TELE_NM_NOME</td>
                                                <td>@cond.CATEGORIA_TELEFONE.CATE_NM_NOME</td>
                                                <td>@cond.TELE_NR_TELEFONE</td>
                                                <td>@cond.TELE_NR_CELULAR</td>
                                                <td>@cond.TELE_NM_EMAIL</td>
                                                <td>@cond.TELE_NR_WHATSAPP</td>
                                                <td>@cond.TELE_NM_CIDADE</td>
                                                <td>@cond.UF.UF_SG_SIGLA</td>
                                                <td class="td-one-action">
                                                    @if (ViewBag.Perfil == "ADM" || ViewBag.Perfil == "GER")
                                                    {
                                                        @Html.TableLinkDetails(cond.TELE_CD_ID, "EditarTelefone","fa-edit", "Editar")
                                                        <span style="cursor: pointer; color: #337ab7;" class="fa fa-send" onclick="MudaIdForn('@cond.TELE_CD_ID')" data-toggle="modal" data-target="#exampleModal" title="Enviar SMS"> </span>
                                                        if (cond.TELE_IN_ATIVO == 1)
                                                        {
                                                            <span style="color: #337ab7; cursor:pointer;" alt="Excluir" class="tbl-link fa-lg fa fa-trash-o" onclick="ShowModalExcluir('/Telefone/ExcluirTelefone/@cond.TELE_CD_ID')" title="Excluir"></span>
                                                        }
                                                        else
                                                        {
                                                            <span style="color: #337ab7; cursor:pointer;" alt="Reativar" class="tbl-link fa-lg fa fa-refresh" onclick="ShowModalReativar('/Telefone/ReativarTelefone/@cond.TELE_CD_ID')" title="Reativar"></span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @Html.TableLinkDetails(cond.TELE_CD_ID, "VerTelefone","fa-search", "Consultar")
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-2">

                                    </div>
                                    <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-4 col-md-4 col-xs-8">
                                        <h2 style="font-weight: bold">Sua pesquisa não retornou nenhum resultado</h2>
                                        <p>Tente outras opções de pesquisa</p>

                                        @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Telefone", action: "RetirarFiltroTelefone")
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-2">

                                    </div>
                                </div>
                            }
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    
    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluir(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de Telefone?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }

        function ShowModalReativar(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Reativar" class="btn btn-primary" href="' + url + '" target="_self" title="Reativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma reativação de Telefone?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Reativação</h5>');
            $('#modal').modal('show');
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });
        });

    </script>
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
        });
    </script>

     <script>
        function MudaIdForn(id) {
            $('#idForn').val(id);
        }
    </script>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}


