@using Presentation.Extensions
@using CrossCutting;
@using EntitiesServices.Work_Classes;
@model EntitiesServices.Model.TAREFA
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-title">
        <h3 class="title">Tarefas</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarAdmin", "BaseAdmin")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Tarefas</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Hoje</span>
                    <h5>Tarefas</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.Tarefas</h1>
                    <div class="stat-percent font-bold text-navy">32% <i class="fa fa-level-up"></i></div>
                    <small>Tarefas Exibidas</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Hoje</span>
                    <h5>Tarefas</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.TarefasPendentes</h1>
                    <div class="stat-percent font-bold text-navy">32% <i class="fa fa-level-up"></i></div>
                    <small>Tarefas Pendentes</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Hoje</span>
                    <h5>Tarefas</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.TarefasEncerradas</h1>
                    <div class="stat-percent font-bold text-navy">32% <i class="fa fa-level-up"></i></div>
                    <small>Tarefas Encerradas</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                @using (Html.BeginForm("FiltrarTarefa", "Tarefa", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-5ths col-md-5ths col-xs-5ths">
                                Tipo de Tarefa
                                @Html.DropDownListFor(m => m.TITR_CD_ID, (SelectList)ViewBag.Tipos, "Selecionar", new { @class = "form-control", autofocus = true })
                            </div>
                            <div class="col-lg-5ths col-md-5ths col-xs-5ths">
                                Título
                                @Html.TextBoxFor(m => m.TARE_NM_TITULO, new { @class = "form-control", autofocus = true })
                            </div>
                            <div class="col-lg-5ths col-md-5ths col-xs-5ths">
                                Data de Início
                                @Html.TextBoxFor(m => m.TARE_DT_CADASTRO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true })
                            </div>
                            <div class="col-lg-5ths col-md-5ths col-xs-5ths">
                                Status
                                @Html.DropDownListFor(m => m.TARE_IN_STATUS, (SelectList)ViewBag.Status, "Selecionar", new { @class = "form-control" })
                            </div>
                            @if (ViewBag.Perfil == 1)
                            {
                                <div class="col-lg-5ths col-md-5ths col-xs-5ths">
                                    Usuario
                                    @Html.DropDownListFor(m => m.TARE_IN_STATUS, (SelectList)ViewBag.Usuarios, "Selecionar", new { @class = "form-control" })
                                </div>
                            }
                        </div>
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                @Html.ButtonActionSubmit(text: "Filtrar")
                                @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Tarefa", action: "RetirarFiltroTarefa")
                                @Html.ButtonLinkIndex(text: "Exibir Todos", controller: "Tarefa", action: "MostrarTudoTarefa")
                                @Html.ButtonLinkIndex(text: "Nova Tarefa", controller: "Tarefa", action: "IncluirTarefa")
                                @Html.ButtonLinkIndex(text: "Visualização Kanban", controller: "Tarefa", action: "MontarTelaTarefaKanban")
                                @Html.ButtonLinkIndex(text: "Gerar Relatório", controller: "Tarefa", action: "GerarRelatorioLista")
                                @Html.ButtonLinkIndex(text: "Voltar", controller: "Tarefa", action: "Voltar")
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Tarefas</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="row">
                        @if (ViewBag.Listas != null && (ViewBag.Listas as List<EntitiesServices.Model.TAREFA>).Count > 0)
                        {
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead style="background-color:lightsteelblue">
                                    <tr>
                                        <th>Data de Início</th>
                                        <th>Tipo</th>
                                        <th>Título</th>
                                        <th>Previsto</th>
                                        <th>Status</th>
                                        <th>Realizada</th>
                                        <th>Periodicidade</th>
                                        <th>Repetições</th>
                                        <th class="td-one-action">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.TAREFA>))
                                    {
                                        <tr>
                                            <td>@cond.TARE_DT_CADASTRO.ToShortDateString()</td>
                                            @if (cond.TIPO_TAREFA == null)
                                            {
                                                <td>-</td>
                                            }
                                            else
                                            {
                                                <td>@cond.TIPO_TAREFA.TITR_NM_NOME</td>
                                            }
                                            <td>@cond.TARE_NM_TITULO</td>
                                            <td>@cond.TARE_DT_ESTIMADA.Value.ToShortDateString()</td>
                                            @if (cond.TARE_IN_STATUS == 1)
                                            {
                                                <td>Pendente</td>
                                            }
                                            else if (cond.TARE_IN_STATUS == 2)
                                            {
                                                <td>Em Andamento</td>
                                            }
                                            else if (cond.TARE_IN_STATUS == 3)
                                            {
                                                <td>Suspensa</td>
                                            }
                                            else if (cond.TARE_IN_STATUS == 4)
                                            {
                                                <td>Cancelada</td>
                                            }
                                            else if (cond.TARE_IN_STATUS == 5)
                                            {
                                                <td>Encerrada</td>
                                            }
                                            @if (cond.TARE_DT_REALIZADA != null)
                                            {
                                                <td>@cond.TARE_DT_REALIZADA.Value.ToShortDateString()</td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                            @if (cond.PERIODICIDADE_TAREFA != null)
                                            {
                                                <td>@cond.PERIODICIDADE_TAREFA.PETA_NM_NOME</td>
                                                <td>@cond.TARE_NR_PERIODICIDADE_QUANTIDADE</td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                                <td>-</td>
                                            }
                                            <td class="td-one-action">
                                                @Html.TableLinkDetails(cond.TARE_CD_ID, "EditarTarefa", "fa-edit", "Editar/Consultar")
                                                @if (cond.TARE_IN_ATIVO == 1)
                                                {
                                                    <span style="color: #337ab7; cursor:pointer;" alt="Excluir" class="tbl-link fa-lg fa fa-trash-o" onclick="ShowModalExcluir('/Tarefa/ExcluirTarefa/@cond.TARE_CD_ID')" title="Excluir"></span>
                                                }
                                                else
                                                {
                                                    <span style="color: #337ab7; cursor:pointer;" alt="Reativar" class="tbl-link fa-lg fa fa-refresh" onclick="ShowModalReativar('/Tarefa/ReativarTarefa/@cond.TARE_CD_ID')" title="Reativar"></span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-xs-2">

                                </div>
                                <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-4 col-md-4 col-xs-8">
                                    <h2 style="font-weight: bold">Sua pesquisa não retornou nenhum resultado</h2>
                                    <p>Tente outras opções de pesquisa</p>

                                    @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Tarefa", action: "RetirarFiltroTarefa")
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-2">

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>

    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluir(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de Tarefa?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }

        function ShowModalReativar(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Reativar" class="btn btn-primary" href="' + url + '" target="_self" title="Reativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma reativação de Tarefa?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Reativação</h5>');
            $('#modal').modal('show');
        }
    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });

    </script>
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $('.date-picker').mask('99/99/9999');
        });
    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>

}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

