@using Inspinia_MVC5;
@using EntitiesServices.Work_Classes;
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" src="~/Images/Favicon_ERP_Condominio.png" style = "width: auto; height: auto; max-height: 70px; max-width: 170px;" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            @*<span class="block m-t-xs">
                                <strong class="font-bold">Leve Gestão</strong>
                            </span>*@ 
                            <br />
                            <span class="text-muted text-xs block">Controle de Acesso<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Login", "ControleAcesso")">Login</a></li>
                        @*<li><a href="@Url.Action("Logout", "ControleAcesso")">Logout</a></li>*@
                    </ul>
                </div>
                <div class="logo-element">
                    <span>
                        <img alt="image" src="~/Images/Favicon_ERP_Condominio.png" style = "width: auto; height: auto; max-height: 70px; max-width: 170px;" />
                    </span>
                </div>
            </li>
            @*<li class="@Html.IsSelected(controller: "ControleAcesso")">
                <a href="@Url.Action("Index", "ControleAcesso")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Controle de Acesso</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "ControleAcesso", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Login")"><a href="@Url.Action("Login", "ControleAcesso")">Login</a></li>
                    <li class="@Html.IsSelected(action: "Logout")"><a href="@Url.Action("Logout", "ControleAcesso")">Logout</a></li>
                    <li class="@Html.IsSelected(action: "AlterarSenha")"><a href="@Url.Action("TrocarSenha", "ControleAcesso")">Alterar Senha</a></li>
                </ul>
            </li>*@
            <li class="@Html.IsSelected(controller: "Institucional")">
                <a href="@Url.Action("Index", "Institucional")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Institucional</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Institucional", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "MontarFaleConosco")"><a href="@Url.Action("MontarFaleConosco", "BaseAdmin")">Fale Conosco</a></li>
                    <li class="@Html.IsSelected(action: "CarregarDesenvolvimento")"><a href="@Url.Action("CarregarDesenvolvimento", "BaseAdmin")">Sobre...</a></li>
                    <li class="@Html.IsSelected(action: "CarregarDesenvolvimento")"><a href="@Url.Action("CarregarDesenvolvimento", "BaseAdmin")">Informações Legais</a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>