@using Presentation.Extensions
@model SMS_Solution.ViewModels.UsuarioLoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div id="modalContainer"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-5 col-md-5 col-xs-5 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Geração de Senha Provisória</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @Html.AntiForgeryToken()
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="form-group">
                        <label>Informe o e-mail cadastrado no Sistema DUO</label>
                        <label>Uma senha provisória será enviada para este e-mail</label>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(m => m.ASSI_CD_ID)
                        @Html.HiddenFor(m => m.CARG_CD_ID)
                        @Html.HiddenFor(m => m.CAUS_CD_ID)
                        @Html.HiddenFor(m => m.COLA_CD_ID)
                        @Html.HiddenFor(m => m.PERF_CD_ID)
                        @Html.HiddenFor(m => m.USUA_CD_ID)
                        @Html.HiddenFor(m => m.USUA_AQ_FOTO)
                        @Html.HiddenFor(m => m.UNID_CD_ID)
                        @Html.HiddenFor(m => m.USUA_DS_MOTIVO_SAIDA)
                        @Html.HiddenFor(m => m.USUA_DT_ACESSO)
                        @Html.HiddenFor(m => m.USUA_DT_ALTERACAO)
                        @Html.HiddenFor(m => m.USUA_DT_BLOQUEADO)
                        @Html.HiddenFor(m => m.USUA_DT_CADASTRO)
                        @Html.HiddenFor(m => m.USUA_DT_ENTRADA)
                        @Html.HiddenFor(m => m.USUA_DT_SAIDA)
                        @Html.HiddenFor(m => m.USUA_DT_TROCA_SENHA)
                        @Html.HiddenFor(m => m.USUA_DT_ULTIMA_FALHA)
                        @Html.HiddenFor(m => m.USUA_IN_ATIVO)
                        @Html.HiddenFor(m => m.USUA_IN_BLOQUEADO)
                        @Html.HiddenFor(m => m.USUA_IN_LOGADO)
                        @Html.HiddenFor(m => m.USUA_IN_LOGIN_PROVISORIO)
                        @Html.HiddenFor(m => m.USUA_IN_PROVISORIO)
                        @Html.HiddenFor(m => m.USUA_IN_RESPONSAVEL)
                        @Html.HiddenFor(m => m.USUA_NM_EMAIL)
                        @Html.HiddenFor(m => m.USUA_NM_LOGIN)
                        @Html.HiddenFor(m => m.USUA_NM_NOME)
                        @Html.HiddenFor(m => m.USUA_NM_SENHA)
                        @Html.HiddenFor(m => m.USUA_NR_ACESSOS)
                        @Html.HiddenFor(m => m.USUA_NR_CELULAR)
                        @Html.HiddenFor(m => m.USUA_NR_CPF)
                        @Html.HiddenFor(m => m.USUA_NR_FALHAS)
                        @Html.HiddenFor(m => m.USUA_NR_MATRICULA)
                        @Html.HiddenFor(m => m.USUA_NR_RG)
                        @Html.HiddenFor(m => m.USUA_NR_TELEFONE)
                        @Html.HiddenFor(m => m.USUA_NR_WHATSAPP)
                        @Html.HiddenFor(m => m.USUA_TX_OBSERVACOES)
                        @Html.HiddenFor(m => m.USUA_NM_NOVA_SENHA)
                        @Html.HiddenFor(m => m.USUA_NM_SENHA_CONFIRMA)
                        @Html.EditorFor(model => model.USUA_NM_EMAIL, new { htmlAttributes = new { @class = "form-control", placeholder = "E-mail", autofocus = true, id = "email" } })
                        @Html.ValidationMessageFor(model => model.USUA_NM_EMAIL, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary block full-width m-b" onclick="GerarNovaSenha()" id="btnNovasenha" >Gerar Senha Provisória</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function GerarNovaSenha() {
        var vm = {
            USUA_NM_EMAIL: $('#email').val()
        }
        $.ajax({
            url: '../ControleAcesso/GerarSenha'
            , type: 'POST'
            , data: vm
            , success: function (r) {
                console.log(r);
                if (r != 1) {
                    $('.alert').remove();
                    var alert = '<div class="alert alert-danger">'
                        + '<button type="button" class="close" data-dismiss="alert">Fechar</button>'
                        + r
                        + '</div>';
                    $('.ibox-content').prepend(alert);
                    $('.alert').show();
                }
                else {
                    var stringModal = '<div class="modal" tabindex="-1" role="dialog">'
                        + '<div class="modal-dialog" role="document">'
                        + '<div class="modal-content">'
                        + '<div class="modal-header">'
                        + '<h5 class="modal-title">Produtos Alterados</h5>'
                        + '</div>'
                        + '<div class="modal-body">'
                        + '<p>Uma senha provisória foi enviada para o e-mail ' + vm.USUA_NM_EMAIL + '</p>'
                        + '</div>'
                        + '<div class="modal-footer">'
                        + '<button type="button" class="btn btn-primary" onclick="window.open(\'../ControleAcesso/Login\', \'_self\')">Confirmar</button>'
                        + '</div>'
                        + '</div>'
                        + '</div>'
                        + '</div>';

                    $('#modalContainer').append(stringModal);
                    $('.modal').modal('show');
                }
            }
        })
    }
</script>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}
