@using Presentation.Extensions
@model SMS_Solution.ViewModels.UsuarioLoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-5 col-md-5 col-xs-5 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Alteração de Senha</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Configuração 1</a>
                            </li>
                            <li>
                                <a href="#">Configuração 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                @using (Html.BeginForm("TrocarSenhaInicio", "ControleAcesso", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                {
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="form-group">
                            @Html.HiddenFor(m => m.ASSI_CD_ID)
                            @Html.HiddenFor(m => m.CARG_CD_ID)
                            @Html.HiddenFor(m => m.CAUS_CD_ID)
                            @Html.HiddenFor(m => m.COLA_CD_ID)
                            @Html.HiddenFor(m => m.PERF_CD_ID)
                            @Html.HiddenFor(m => m.USUA_CD_ID)
                            @Html.HiddenFor(m => m.USUA_AQ_FOTO)
                            @Html.HiddenFor(m => m.UNID_CD_ID)
                            @Html.HiddenFor(m => m.USUA_DS_MOTIVO_SAIDA)
                            @Html.HiddenFor(m => m.USUA_DT_ACESSO)
                            @Html.HiddenFor(m => m.USUA_DT_ALTERACAO)
                            @Html.HiddenFor(m => m.USUA_DT_BLOQUEADO)
                            @Html.HiddenFor(m => m.USUA_DT_CADASTRO)
                            @Html.HiddenFor(m => m.USUA_DT_ENTRADA)
                            @Html.HiddenFor(m => m.USUA_DT_SAIDA)
                            @Html.HiddenFor(m => m.USUA_DT_TROCA_SENHA)
                            @Html.HiddenFor(m => m.USUA_DT_ULTIMA_FALHA)
                            @Html.HiddenFor(m => m.USUA_IN_ATIVO)
                            @Html.HiddenFor(m => m.USUA_IN_BLOQUEADO)
                            @Html.HiddenFor(m => m.USUA_IN_LOGADO)
                            @Html.HiddenFor(m => m.USUA_IN_LOGIN_PROVISORIO)
                            @Html.HiddenFor(m => m.USUA_IN_PROVISORIO)
                            @Html.HiddenFor(m => m.USUA_IN_RESPONSAVEL)
                            @Html.HiddenFor(m => m.USUA_NM_EMAIL)
                            @Html.HiddenFor(m => m.USUA_NM_LOGIN)
                            @Html.HiddenFor(m => m.USUA_NM_NOME)
                            @Html.HiddenFor(m => m.USUA_NM_SENHA)
                            @Html.HiddenFor(m => m.USUA_NR_ACESSOS)
                            @Html.HiddenFor(m => m.USUA_NR_CELULAR)
                            @Html.HiddenFor(m => m.USUA_NR_CPF)
                            @Html.HiddenFor(m => m.USUA_NR_FALHAS)
                            @Html.HiddenFor(m => m.USUA_NR_MATRICULA)
                            @Html.HiddenFor(m => m.USUA_NR_RG)
                            @Html.HiddenFor(m => m.USUA_NR_TELEFONE)
                            @Html.HiddenFor(m => m.USUA_NR_WHATSAPP)
                            @Html.HiddenFor(m => m.USUA_TX_OBSERVACOES)
                            @Html.EditorFor(model => model.USUA_NM_NOVA_SENHA, new { htmlAttributes = new { @class = "form-control pwd1", placeholder = "Nova Senha", @type = "password", @id="Password1" , autofocus = true} })
                            @Html.ValidationMessageFor(model => model.USUA_NM_NOVA_SENHA, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="pwstrength_viewport_progress"></div>
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.USUA_NM_SENHA_CONFIRMA, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirmação da Senha", @type = "password", autofocus = true } })
                            @Html.ValidationMessageFor(model => model.USUA_NM_SENHA_CONFIRMA, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary block full-width m-b demo2">Alterar Senha</button>
                        </div>
                    </div>
                }
            </div>
         </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts 
{
    @Scripts.Render("~/plugins/passwordMeter")
    @Scripts.Render("~/plugins/sweetAlert")

    <script type="text/javascript">
        $(document).ready(function () {
            var options1 = {};
            options1.ui = {
                container: "#pwd-container1",
                showVerdictsInsideProgressBar: true,
                viewports: {
                    progress: ".pwstrength_viewport_progress"
                }
            };
            options1.common = {
                debug: false,
            };
            $('.pwd1').pwstrength(options1);

        });
    </script>

        @*<script type="text/javascript">
        $(document).ready(function () {
            $('.demo2').click(function () {
                swal({
                    title: "Alteração de Senha",
                    text: "Senha alterada com sucesso",
                    type: "success",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Confirmar",
                    closeOnConfirm: false
                }, function () {
                    swal("Sucesso!", "A senha foi alterada com sucesso", "success");
                });
            });

        });
    </script>*@

}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}
