@using Presentation.Extensions
@model SMS_Solution.ViewModels.UsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*Titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button onclick="limpaModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-title"> 
        <h3 class="title">Usuários</h3> 
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaUsuario", "Usuario")">Usuários</a>
            </li>
            <li class="active">
                <strong>Usuário - Edição</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-2">
            <div class="widget style1 navy-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        @if (Model.USUA_IN_ATIVO == 1)
	                    {
                            <h3 class="font-normal">Ativo</h3>
                        }
                        else
                        {
                            <h3 class="font-normal">Inativo</h3>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 blue-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-thumbs-o-up fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        @if (Model.USUA_IN_BLOQUEADO == 1)
	                    {
                            <h3 class="font-normal">Bloqueado</h3>
                        }
                        else
                        {
                            <h3 class="font-normal">Desbloqueado</h3>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 yellow-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-thumbs-o-up fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h3 class="font-normal">Último Acesso: @Model.USUA_DT_ACESSO.Value.ToShortDateString()</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Usuário - Edição</h5>&nbsp;&nbsp;&nbsp;
                    @if (ViewBag.Perfil == "ADM" || ViewBag.Perfil == "GER")
                    {
                        if (Model.USUA_IN_BLOQUEADO == 0)
                        {
                            <button alt="Bloquear" class="btn btn-sm btn-warning demo2" onclick="ShowModalBloquear('/Usuario/BloquearUsuario/@Model.USUA_CD_ID', '@Model.USUA_NM_NOME')" title="Bloquear">Bloquear</button>
                        }
                        else
                        {
                            <button alt="Desbloquear" class="btn btn-sm btn-warning demo2" onclick="ShowModalDesbloquear('/Usuario/DesbloquearUsuario/@Model.USUA_CD_ID', '@Model.USUA_NM_NOME')" title="Desbloquear">Desbloquear</button>
                        }
                        if (Model.USUA_IN_ATIVO == 1)
                        {
                            <button alt="Desativar" class="btn btn-sm btn-warning demo2" onclick="ShowModalExcluir('/Usuario/DesativarUsuario/@Model.USUA_CD_ID', '@Model.USUA_NM_NOME')" title="Bloquear">Desativar</button>
                        }
                        else
                        {
                            <button alt="Reativar" class="btn btn-sm btn-warning demo2" onclick="ShowModalReativar('/Usuario/ReativarUsuario/@Model.USUA_CD_ID', '@Model.USUA_NM_NOME')" title="Desbloquear">Reativar</button>
                        }
                    }
                    @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBase", controller: "Usuario", buttonClass: "primary")
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Configuração 1</a>
                            </li>
                            <li>
                                <a href="#">Configuração 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">Dados Gerais</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2">Fotografia e Anexos</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-3">Informações de Acessos</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-4">Observações</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-5">Indicadores</a></li>
                        </ul>
                        <div class="tab-content">
                            @*Dados Gerais*@
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    @using (Html.BeginForm("EditarUsuario", "Usuario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                                    {
                                        <div class="row" style="width: 100%;">
                                            <div class="col-lg-2 col-md-2 col-xs-12">
                                                <div style="text-align: center; margin-top: 20px; line-height: 10px;">
                                                    @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                    @Html.HiddenFor(m => m.USUA_AQ_FOTO)
                                                    @Html.HiddenFor(m => m.USUA_CD_ID)
                                                    @Html.HiddenFor(m => m.USUA_DT_ACESSO)
                                                    @Html.HiddenFor(m => m.USUA_DT_ALTERACAO)
                                                    @Html.HiddenFor(m => m.USUA_DT_BLOQUEADO)
                                                    @Html.HiddenFor(m => m.USUA_DT_CADASTRO)
                                                    @Html.HiddenFor(m => m.USUA_DT_TROCA_SENHA)
                                                    @Html.HiddenFor(m => m.USUA_DT_ULTIMA_FALHA)
                                                    @Html.HiddenFor(m => m.USUA_IN_ATIVO)
                                                    @Html.HiddenFor(m => m.USUA_IN_BLOQUEADO)
                                                    @Html.HiddenFor(m => m.USUA_IN_LOGIN_PROVISORIO)
                                                    @Html.HiddenFor(m => m.USUA_IN_PROVISORIO)
                                                    @Html.HiddenFor(m => m.USUA_NM_NOVA_SENHA)
                                                    @Html.HiddenFor(m => m.USUA_NM_SENHA)
                                                    @Html.HiddenFor(m => m.USUA_NM_SENHA_CONFIRMA)
                                                    @Html.HiddenFor(m => m.USUA_NR_ACESSOS)
                                                    @Html.HiddenFor(m => m.USUA_NR_CELULAR)
                                                    @Html.HiddenFor(m => m.USUA_NR_FALHAS)
                                                    @Html.HiddenFor(m => m.USUA_NR_TELEFONE)
                                                    @Html.HiddenFor(m => m.USUA_TX_OBSERVACOES)
                                                    @if (!String.IsNullOrEmpty(Model.USUA_AQ_FOTO))
                                                    {
                                                        <img src="@Url.Content(Model.USUA_AQ_FOTO)" style="width: auto; height: auto; max-height: 110px; max-width: 90px;" data-toggle="modal" data-target="#fotoModal" onclick="CriaModal('@Model.USUA_NM_NOME', '@Url.Content(Model.USUA_AQ_FOTO)')">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Imagens/Base/icone_imagem.jpg" style="width: auto; height: auto; max-height: 110px; max-width: 90px;" data-toggle="modal" data-target="#fotoModal" onclick="CriaModal('@Model.USUA_NM_NOME', '/Images/gallery/10s.jpg')">
                                                    }
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        Nome*
                                                        @Html.TextBoxFor(m => m.USUA_NM_NOME, new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.USUA_NM_NOME, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        E-Mail*
                                                        @Html.TextBoxFor(m => m.USUA_NM_EMAIL, new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.USUA_NM_EMAIL, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Login*
                                                        @Html.TextBoxFor(m => m.USUA_NM_LOGIN, new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.USUA_NM_LOGIN, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Cargo
                                                        @Html.DropDownListFor(m => m.CARG_CD_ID, (SelectList)ViewBag.Cargos, "Selecionar", new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.CARG_CD_ID, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        CPF*
                                                        @Html.TextBoxFor(m => m.USUA_NR_CPF, new { @class = "form-control", autofocus = true, @id="cpf" })
                                                        @Html.ValidationMessageFor(m => m.USUA_NR_CPF, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        RG
                                                        @Html.TextBoxFor(m => m.USUA_NR_RG, new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.USUA_NR_RG, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Telefone
                                                        @Html.TextBoxFor(m => m.USUA_NR_TELEFONE, new { @class = "form-control", autofocus = true, @id="tel" })
                                                        @Html.ValidationMessageFor(m => m.USUA_NR_TELEFONE, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Celular*
                                                        @Html.TextBoxFor(m => m.USUA_NR_CELULAR, new { @class = "form-control", autofocus = true, @id="cel" })
                                                        @Html.ValidationMessageFor(m => m.USUA_NR_CELULAR, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        WhatsApp
                                                        @Html.TextBoxFor(m => m.USUA_NR_WHATSAPP, new { @class = "form-control", autofocus = true, @id="wh" })
                                                        @Html.ValidationMessageFor(m => m.USUA_NR_WHATSAPP, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.ButtonActionSubmit(text: "Confirma edição de Usuário", htmlAttributes: new { id = "basictoast" })
                                        </div>
                                    }
                                </div>
                            </div>

                            @*Imagens - Foto e Anexos*@
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-xs-12">   
                                            <div class="form-group">
                                                <h4>Fotografia do Usuário</h4>
                                                @using (Html.BeginForm("UploadFotoUsuario", "Usuario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @id="pwd-container3" }))
                                                {
                                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                                        <input style="float: left; margin-right: 5px;" type="file" accept=".jpg, .png, .jpeg, .gif|images/*" name="file" id="file" class="btn btn-sm btn-warning"/>
                                                        <input style="float: left;" type="submit" value="Incluir Foto do Usuário" class="btn btn-sm btn-success" />
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                            <div class="form-group">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <br />
                                                    @if (!String.IsNullOrEmpty(Model.USUA_AQ_FOTO))
	                                                {
                                                        <img src="@Url.Content(Model.USUA_AQ_FOTO)" style = "width: auto; height: auto; max-height: 110px; max-width: 90px;">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Imagens/Base/icone_imagem.jpg" style = "width: auto; height: auto; max-height: 110px; max-width: 90px;">
                                                    }
                                                </div>                       
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <hr />
                                        <div class="col-lg-12 col-md-12 col-xs-12"> 
                                            <h4>Anexos</h4>
                                            <br />
                                            <div class="form-group">
                                                @using (Html.BeginForm("UploadFileUsuario", "Usuario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @id="pwd-container2" }))
                                                {
                                                    <div class="ibox-content">
                                                        @if (Model.USUARIO_ANEXO != null)
	                                                    {
                                                            if (Model.USUARIO_ANEXO.Count > 0)
                                                            {
                                                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                                                    <thead style ="background-color:lightsteelblue">
                                                                        <tr>
                                                                            <th>Título</th>
                                                                            <th>Data</th>
                                                                            <th>Tipo</th>
                                                                            <th class="td-one-action">Ações</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var cond in (Model.USUARIO_ANEXO))
                                                                        {
                                                                            <tr>
                                                                                <td>@cond.USAN_NM_TITULO</td>
                                                                                <td>@cond.USAN_DT_ANEXO.Value.ToShortDateString()</td>
                                                                                @if (cond.USAN_IN_TIPO == 1)
	                                                                            {
                                                                                    <td>Imagem/Video</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td>Arquivo</td>
                                                                                }
                                                                                <td class="td-one-action">
                                                                                    @if (cond.USAN_IN_TIPO == 1 || cond.USAN_IN_TIPO == 2)
	                                                                                {
                                                                                        @Html.TableLinkDetails(cond.USAN_CD_ID, "VerAnexoUsuario","fa-camera", "Visualizar")
	                                                                                }
                                                                                    @if (cond.USAN_IN_TIPO == 3)
                                                                                    {
                                                                                        <a title="Visualizar" class="fa fa-camera fa-lg" href="~/PdfViewer/web/viewer.html?file=@(cond.USAN_AQ_ARQUIVO.Replace("~", ""))&ReturnUrl=@Request.Url.AbsolutePath" target="_blank"></a>
                                                                                    }
                                                                                    @Html.TableLinkDetails(cond.USAN_CD_ID, "DownloadUsuario","fa-download", "Download")
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            }
	                                                    }
                                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                                            <input style="float: left; margin-right: 5px;" type="file" name="file" id="file" class="btn btn-sm btn-warning"/>
                                                            <input style="float: left; margin-right: 5px;" type="submit" value="Incluir Anexo do Usuário" class="btn btn-sm btn-success" />
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Informações de Acesso*@
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body">
                                    @using (Html.BeginForm("EditarUsuario", "Usuario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                                    {
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                                <div class="col-lg-2 col-md-2 col-xs-12">                                
                                                    @Html.HiddenFor(m => m.PERF_CD_ID)
                                                    @Html.HiddenFor(m => m.USUA_AQ_FOTO)
                                                    @Html.HiddenFor(m => m.USUA_CD_ID)
                                                    @Html.HiddenFor(m => m.USUA_IN_ATIVO)
                                                    @Html.HiddenFor(m => m.USUA_IN_BLOQUEADO)
                                                    @Html.HiddenFor(m => m.USUA_IN_LOGIN_PROVISORIO)
                                                    @Html.HiddenFor(m => m.USUA_IN_PROVISORIO)
                                                    @Html.HiddenFor(m => m.CARG_CD_ID)
                                                    @Html.HiddenFor(m => m.USUA_NM_EMAIL)
                                                    @Html.HiddenFor(m => m.USUA_NM_LOGIN)
                                                    @Html.HiddenFor(m => m.USUA_NM_NOME)
                                                    @Html.HiddenFor(m => m.USUA_NM_NOVA_SENHA)
                                                    @Html.HiddenFor(m => m.USUA_NM_SENHA)
                                                    @Html.HiddenFor(m => m.USUA_NM_SENHA_CONFIRMA)
                                                    @Html.HiddenFor(m => m.USUA_TX_OBSERVACOES)
                                                    Bloqueado?
                                                    <br />
                                                    @Html.CheckBoxFor(m => m.Bloqueio, new { @class = "checkbox i-checks", autofocus = true, @readonly="readonly" })
                                                </div>  
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data do Bloqueio
                                                    @Html.TextBoxFor(m => m.USUA_DT_BLOQUEADO,"{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Senha Provisória?
                                                    <br />
                                                    @Html.CheckBoxFor(m => m.Provisoria, new { @class = "checkbox i-checks", autofocus = true, @readonly="readonly"})
                                                </div>                                                
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Login com Senha Provisória?
                                                    <br />
                                                    @Html.CheckBoxFor(m => m.LoginProvisorio, new { @class = "checkbox i-checks", autofocus = true, @readonly="readonly"})
                                                </div>                                                
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">              
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data de Alteração
                                                    @Html.TextBoxFor(m => m.USUA_DT_ALTERACAO,"{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Data de Troca de Senha
                                                    @Html.TextBoxFor(m => m.USUA_DT_TROCA_SENHA,"{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">              
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Número de Acessos
                                                    @Html.TextBoxFor(m => m.USUA_NR_ACESSOS, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Último Acesso
                                                    @Html.TextBoxFor(m => m.USUA_DT_ACESSO, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Número de Falhas
                                                    @Html.TextBoxFor(m => m.USUA_NR_FALHAS, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Última Falha
                                                    @Html.TextBoxFor(m => m.USUA_DT_ULTIMA_FALHA,"{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                            </div>
                                        </div>                                        
                                    }

                                </div>
                            </div>

                            @*Observações*@
                            <div id="tab-4" class="tab-pane">
                                <div class="panel-body">
                                    @using (Html.BeginForm("EditarUsuario", "Usuario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                                    {
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;"> 
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                    @Html.HiddenFor(m => m.CARG_CD_ID)
                                                    @Html.HiddenFor(m => m.PERF_CD_ID)
                                                    @Html.HiddenFor(m => m.USUA_CD_ID)
                                                    @Html.HiddenFor(m => m.USUA_DT_ACESSO)
                                                    @Html.HiddenFor(m => m.USUA_DT_ALTERACAO)
                                                    @Html.HiddenFor(m => m.USUA_DT_BLOQUEADO)
                                                    @Html.HiddenFor(m => m.USUA_DT_CADASTRO)
                                                    @Html.HiddenFor(m => m.USUA_DT_TROCA_SENHA)
                                                    @Html.HiddenFor(m => m.USUA_DT_ULTIMA_FALHA)
                                                    @Html.HiddenFor(m => m.USUA_IN_ATIVO)
                                                    @Html.HiddenFor(m => m.USUA_IN_BLOQUEADO)
                                                    @Html.HiddenFor(m => m.USUA_IN_LOGADO)
                                                    @Html.HiddenFor(m => m.USUA_IN_LOGIN_PROVISORIO)
                                                    @Html.HiddenFor(m => m.USUA_IN_PROVISORIO)
                                                    @Html.HiddenFor(m => m.USUA_IN_SISTEMA)
                                                    @Html.HiddenFor(m => m.USUA_NM_EMAIL)
                                                    @Html.HiddenFor(m => m.USUA_NM_LOGIN)
                                                    @Html.HiddenFor(m => m.USUA_NM_NOME)
                                                    @Html.HiddenFor(m => m.USUA_NM_NOVA_SENHA)
                                                    @Html.HiddenFor(m => m.USUA_NM_SENHA_CONFIRMA)
                                                    @Html.HiddenFor(m => m.USUA_NR_ACESSOS)
                                                    @Html.HiddenFor(m => m.USUA_NR_CELULAR)
                                                    @Html.HiddenFor(m => m.USUA_NR_CPF)
                                                    @Html.HiddenFor(m => m.USUA_NR_FALHAS)
                                                    @Html.HiddenFor(m => m.USUA_NR_MATRICULA)
                                                    @Html.HiddenFor(m => m.USUA_NR_RG)
                                                    @Html.HiddenFor(m => m.USUA_NR_TELEFONE)
                                                    @Html.HiddenFor(m => m.USUA_NR_WHATSAPP)
                                                    @Html.HiddenFor(m => m.CAUS_CD_ID)
                                                    Observações
                                                    @Html.TextAreaFor(m => m.USUA_TX_OBSERVACOES, new { @class = "form-control", style = "width: 100%; height: 400px;", autofocus = true})
                                                    @Html.ValidationMessageFor(m => m.USUA_TX_OBSERVACOES, "",new { @style="color:red" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.ButtonActionSubmit(text: "Confirma Edição de Usuário", htmlAttributes: new { id = "basictoast" })
                                        </div>
                                    }
                                </div>
                            </div>

                            @*Indicadores*@
                            <div id="tab-5" class="tab-pane">
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <br />
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBase", controller: "Usuario")
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>


@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sweetAlert")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    
    @*<script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });

           

        });

    </script>*@

    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluir(url, nome) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma desativação de usuario?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">' + nome + '</h5>');
            $('#modal').modal('show');
        }

        function ShowModalReativar(url, nome) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Reativar" class="btn btn-primary" href="' + url + '" target="_self" title="Reativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma reativação de usuario?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">' + nome + '</h5>');
            $('#modal').modal('show');
        }
        function ShowModalBloquear(url, nome) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma bloqueio de usuario?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">' + nome + '</h5>');
            $('#modal').modal('show');
        }

        function ShowModalDesbloquear(url, nome) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Reativar" class="btn btn-primary" href="' + url + '" target="_self" title="Reativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma desbloqueio de usuario?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">' + nome + '</h5>');
            $('#modal').modal('show');
        }
    </script>

    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#cep").mask("99999-999");
            $("#tel").mask("(99)9999-9999");
            $("#cel").mask("(99)99999-9999");
            $("#wh").mask("(99)99999-9999");

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('body').addClass('light-navbar');

            $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            //Chama o evento após selecionar um valor
            $('#pessoa').on('change', function() {
                //Verifica se o valor é igual a 1 e mostra a divCnpj
              if ( this.value == '2')
              {
                    $("#PF").hide();
                    $("#PJ").show();
              }
                //Se o tempo for mé igual a 2 mostra a divCpf
              else if( this.value == '1')
              {
                  $("#PJ").hide();
                  $("#PF").show();
              }
              else if( this.value == '3')
              {
                    $("#PF").hide();
                    $("#PJ").show();
              }

                //Se não for nem 1 nem 2 esconde as duas
                else{
                     $("#PJ").hide();
                     $("#PF").hide();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a tiModelle
                toastr.success('Edição em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                        + shortCutFunction
                        + "](\""
                        + msg
                        + (title ? "\", \"" + title : '')
                        + "\")\n\ntoastr.options = "
                        + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
